@model uLearn.Web.Controllers.NotificationsTopbarPartialModel

<a href="#" class="notifications__icon-link dropdown-toggle" data-toggle="@(Model.IsMobile ? "collapse" : "dropdown")" data-target="@(Model.IsMobile ? ".notifications__mobile-dropdown" : "")" role="button" aria-haspopup="true" aria-expanded="false" title="Последние уведомления"
	data-notifications-url="@Url.Action("NotificationsPartial")"
	data-count-url="@Url.Action("UnreadCount", new { lastTimestamp = "LAST_TIMESTAMP" })"
	data-last-timestamp="@Model.LastViewTimestamp">
	<span class="notifications__icon fa fa-bell"></span><span class="notifications__counter @(Model.UnreadCount == 0 ? "collapse" : "")">@(Math.Min(99, Model.UnreadCount))</span>
</a>

@if (!Model.IsMobile)
{
	<ul class="dropdown-menu notifications__dropdown">

	</ul>
}