@using Stepik.Api
@using FormMethod = System.Web.Mvc.FormMethod
@model uLearn.Web.Controllers.InitialExportOptionsModel

@{
	ViewBag.Title = "Разделение на уроки";
}

<div class="container">
	<h2>Разделение на&nbsp;уроки</h2>

	<p class="help-block">
		Каждый модуль курса на&nbsp;ulearn превратится в&nbsp;модуль на&nbsp;Степике. Но вы можете установить разделители между слайдами,
		с&nbsp;помощью которых мы разобём слайды на&nbsp;уроки. Если не&nbsp;установить разделители, то все слайды окажутся в&nbsp;единственном уроке модуля.
	</p>

	<div class="stepik__course-export__lessons-partitions">
		@foreach (var unit in Model.Course.GetUnitsNotSafe())
		{
			<div class="stepik__course-export__lessons-partitions__unit">
				@unit.Title
			</div>
			var isFirstSlide = true;
			foreach (var slide in unit.GetSlides(true))
			{
				if (!isFirstSlide)
				{
					<div class="strike-line grey" data-slide-id="@slide.Id">
						<span>Новый урок?</span>
					</div>
				}
				isFirstSlide = false;
				<div class="stepik__course-export__lessons-partitions__slide">@slide.Title</div>
			}
		}
	</div>

	@using (Html.BeginForm("InitialExport", "Stepik", FormMethod.Post, new { @class = "form" }))
	{
		<div class="stepik__course-export__parameters">
			<h3>Настройки</h3>
			<div class="form-group">
				<label for="xQueueName">Название xQueue-очереди</label>
				@Html.TextBox("xQueueName", Model.DefaultXQueueName, new { @class = "form-control" })
			</div>
			<div class="form-group">
				<label>Как вставлять видео со&nbsp;слайдов</label>
				<div class="radio radio-default">
					@Html.RadioButton("uploadVideo", UploadVideoToStepikOption.Iframe, true, new { id = "upload-video__iframe" })
					<label for="upload-video__iframe">Через iframe</label>
				</div>
				<div class="radio radio-default">
					@Html.RadioButton("uploadVideo", UploadVideoToStepikOption.NativeVideo, new { id = "upload-video__native" })
					<label for="upload-video__native">Заливать видео на&nbsp;Степик</label>
				</div>
			</div>
		</div>

		<div class="stepik__course-export__initial__buttons">
			@Html.Hidden("courseId", Model.Course.Id)
			@Html.Hidden("stepikCourseId", Model.StepikCourseId)
			@Html.Hidden("newLessonsSlidesIds", "")

			<button role="button" class="btn btn-large btn-success">Копировать курс</button>
		</div>
	}
</div>