@model ExternalLoginsListModel
@using Microsoft.Owin.Security

@{
	var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes().Where(x => x.AuthenticationType != "LTI").ToList();
	if (!loginProviders.Any())
	{
		<div>
			<p>
				There are no external authentication services configured. See <a href="http://go.microsoft.com/fwlink/?LinkId=313242">this article</a>
				for details on setting up this ASP.NET application to support logging in via external services.
			</p>
		</div>
	}
	else
	{
		var action = Model.Action;
		var returnUrl = Model.ReturnUrl;
		using (Html.BeginForm(action, "Login", new { ReturnUrl = returnUrl }))
		{
			@Html.AntiForgeryToken()
			<div id="socialLoginList">
				<p>
					@foreach (AuthenticationDescription p in loginProviders)
					{
						<button type="submit" class="ph-btn ph-btn-blue btn-block" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Войдите, используя ваш аккаунт @p.Caption">Войти через @p.AuthenticationType</button>
					}
				</p>
			</div>
		}
	}
}
