@using uLearn.Web.Kontur.Passport
@using uLearn.Web.Microsoft.Owin.Security.VK
@model string

@{
	ViewBag.Title = "Вход для контуровцев";
	ViewBag.ReturnUrl = Model;
}

<div class="container">
	<div class="row">
		<div class="col-md-offset-1 col-md-4">
			<h2>@ViewBag.Title</h2>

			<section id="socialLoginForm">
				@using (Html.BeginForm("ExternalLogin", "Login", new { ReturnUrl = Model }))
				{
					@Html.AntiForgeryToken()
					const string authenticationType = KonturPassportConstants.AuthenticationType;
					<button type="submit" class="ph-btn ph-btn-blue btn-block" id="@authenticationType" name="provider" value="@authenticationType" title="Войдите, используя ваш аккаунт @authenticationType">
						Войти через @authenticationType
					</button>
				}
			</section>

			<div>
				<p>
					Если у вас уже есть аккаунт на ulearn.me, воспользуйтесь формой <span class="hidden-xs hidden-sm">справа</span><span class="hidden-md hidden-lg">ниже</span>.
					Сразу после входа мы предложим привязать контуровский аккаунт, чтобы вы могли получать награды на&nbsp;Стаффе.
				</p>
			</div>

		</div>
		<div class="col-md-offset-1 col-md-4">
			<h2>Обычный вход</h2>

			<section id="socialLoginForm">
				@Html.Partial("ExternalLoginsListPartial", new ExternalLoginsListModel
				{
					Action = "ExternalLogin",
					ReturnUrl = ViewBag.ReturnUrl,
					Type = ExternalLoginListType.Login,
					AvailableProviders = new List<string> { VkAuthenticationConstants.AuthenticationType }
				})
			</section>

			<div class="strike-line grey">
				<span>
					<i>или введите логин и пароль</i>
				</span>
			</div>

			@Html.Partial("_LoginForm", new LoginViewModel())
		</div>
	</div>
</div>