@model uLearn.Web.Controllers.AdminCommentsViewModel

@{
	ViewBag.Title = "Admin Comments";
}

@Html.Action("ManageMenu")

<div class="slide-container container">

	<h3>Комментарии</h3>

	@using (Html.BeginForm("SaveCommentsPolicy", "Unit", FormMethod.Post, new { @class = "form-horizontal" }))
	{
		@Html.AntiForgeryToken()
		<input type="hidden" name="courseId" value="@Model.CourseId" />

		<div>
			<label>
				@Html.CheckBox("isCommentsEnabled", Model.IsCommentsEnabled)

				Комментарии включены
			</label>
		</div>

		<div>
			<label>
				@Html.CheckBox("onlyInstructorsCanReply", Model.OnlyInstructorsCanReply)
				Отвечать могут только преподаватели
			</label>
		</div>

		<h4>Режим модерации</h4>
		<div>
			<label>
				@Html.RadioButton("moderationPolicy", "Premoderation", Model.ModerationPolicy == CommentModerationPolicy.Premoderation)
				премодерация
			</label>
		</div>

		<div>
			<label>
				@Html.RadioButton("moderationPolicy", "Postmoderation", Model.ModerationPolicy == CommentModerationPolicy.Postmoderation)
				постмодерация
			</label>
		</div>

		<div>
			<button class="btn btn-success" type="submit">Сохранить</button>
		</div>
	}

	<div class="comments comments__feed">
		<h4>Последние комментарии</h4>
		@foreach (var comment in Model.Comments)
		{
			@Html.Partial("~/Views/Comments/_Comment.cshtml", comment)
		}
	</div>
</div>
