@model uLearn.Web.Controllers.UnitsListViewModel

@{
	ViewBag.Title = "Admin Course | uLearn";
}

<div class="container">
	<h2>Администрирование курса</h2>
	<h3>@Model.CourseTitle</h3>
	<table class="table table-autowidth">
		<tr>
			<th>Модуль</th>
			<th>Время публикации</th>
			<th>Автор</th>
			<th>Изменение времени публикации</th>
			<th>Скрыть</th>
		</tr>
		@foreach (var unit in Model.Units)
		{
			<tr>
				<td>@unit.Item1</td>
				<td>
					@(unit.Item2 == null ? "Не опубликован" : unit.Item2.PublishTime.ToString("s"))
				</td>
				<td>
					@(unit.Item2 == null ? "" : unit.Item2.UserName)
				</td>
				<td>
					@using (Html.BeginForm("SetPublishTime", "Unit", new { courseId = Model.CourseId, unitName = unit.Item1 }, FormMethod.Post))
					{
						<input type="text" name="publishTime" value="@Model.CurrentDateTime.ToString("s")" />
						<button type="submit" class="btn btn-sm btn-info" title="Установить новое время публикации"><i class="glyphicon glyphicon-edit"></i></button>
					}
				</td>
				<td>
					@if (unit.Item2 != null)
					{
						using (Html.BeginForm("RemovePublishTime", "Unit", new { courseId = Model.CourseId, unitName = unit.Item1 }, FormMethod.Post))
						{
							<button type="submit" class="btn btn-sm btn-danger" title="Удалить публикацию"><i class="glyphicon glyphicon-remove"></i></button>
						}
					}
				</td>


			</tr>
		}
	</table>
</div>