@model uLearn.Web.Controllers.ManageMenuViewModel

<div class="side-bar navbar-nav container">
	<ul class="nav">
		<li class="units-list-item full-width units-list-item-text course-name">@Model.Title</li>
		<li class="units-list-item full-width">@Html.ActionLink("Пользователи", "Users", new { Model.CourseId, onlyPrivileged = true }, new { @class = "units-list-item-text" })</li>
		<li class="units-list-item full-width">@Html.ActionLink("Комментарии", "Comments", new { Model.CourseId }, new { @class = "units-list-item-text" })</li>
		<li class="units-list-item full-width">@Html.ActionLink("Управление пакетами", "Packages", new { Model.CourseId }, new { @class = "units-list-item-text" })</li>
		<li class="units-list-item full-width">@Html.ActionLink("Диагностики", "Diagnostics", new { Model.CourseId }, new { @class = "units-list-item-text" })</li>
		<li class="units-list-item full-width">@Html.ActionLink("Юниты", "List", new { Model.CourseId }, new { @class = "units-list-item-text" })</li>
		<li class="units-list-item full-width">@Html.ActionLink("Курс", "Slide", "Course", new { Model.CourseId }, new { @class = "units-list-item-text" })</li>
	</ul>
</div>