@using System.Globalization
@model PersonalStatisticPageModel
@{
	ViewBag.Title = "Personal statistics";
}


@Html.Action("TableOfContents", "SlideNavigation", new { courseId = Model.CourseId })

<body>
	<div class="slide-container">
		<div class="container body-content">
			<div class="row">
				<table id="myTable" class="tablesorter">
					<thead>
						<tr>
							<th>Название слайда</th>
							<th>Посещённые</th>
							<th>Решённые</th>
							<th>Ваша оценка</th>
							<th>Подсказок на слайде</th>
							<th>Из них использовано</th>
						</tr>
					</thead>
					<tbody>
						@{
							foreach (var stats in Model.PersonalStatistics)
							{
								var isNeedDrowHintsInfo = stats.IsExercise && stats.HintsCountOnSlide != 0;
								var url = Url.Action("Slide", "Course", new {courseId = Model.CourseId, slideIndex = stats.SlideIndex}, null);
								<tr>
									<td class="slide-list-item" 
									    data-sort-value=@(stats.SlideIndex + 100000) 
										onclick="window.location.href='@url'">
											<p class="table-header">@(stats.UnitName + ": " + stats.SlideTitle)</p>
									</td>
									<td data-sort-value="@(stats.IsVisited ? 1 : 0)" class="analytics @(stats.IsVisited ? "visited" : "not-visited")"></td>
									<td data-sort-value="@(stats.IsSolved ? 2 : (stats.IsExercise || stats.IsQuiz) ? 1 : 0)"
									    class="analytics @(stats.IsSolved? "solved" : stats.IsExercise || stats.IsQuiz ? "not-solved" : "")"></td>
									<td>@(stats.UserRate ?? "")</td>
									<td data-sort-value="@(isNeedDrowHintsInfo ? stats.HintsCountOnSlide + 1000 : 0)">
										@(isNeedDrowHintsInfo ? stats.HintsCountOnSlide.ToString(CultureInfo.InvariantCulture) : "")
									</td>
									<td data-sort-value="@(isNeedDrowHintsInfo ? stats.HintUsedPercent + 1000 : 0)">
										@(isNeedDrowHintsInfo ? stats.HintUsedPercent + "%" : "")
									</td>
								</tr>
							}
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>

@section scripts {
	<script src="~/tablesorter-master/js/jquery.tablesorter.js"></script>
	<script src="~/Scripts/table-configurator.js"> </script>
}


