@using System.Diagnostics
@using System.Globalization
@model uLearn.PersonalStatisticPageModel
@{
	ViewBag.Title = "Personal statistics";
}
@Html.Partial("_Sidebar", Model.CoursePageModel)

<body>
	<div class="slide-container">
		<div class="container body-content">
			<div class="row">
				<table id="myTable" class="tablesorter">
					<thead>
						<tr>
							<th>Название слайда</th>
							<th>Посещённые</th>
							<th>Решённые</th>
						    <th>Ваша оценка</th>
						    <th>Подсказок на слайде</th>
							<th>Из них использовано</th>
						</tr>
					</thead>
					<tbody>
						@{
							int counter = -1;
							foreach (var info in Model.PersonalStatistics)
							{
								var stats = info.Value;
								Debug.Assert(stats != null);
								counter++;
							    var isNeedDrowHintsInfo = stats.IsExercise && stats.HintsCountOnSlide != 0;
								<tr>
									<td data-sort-value=@(counter + 1000)>@Html.ActionLink(info.Key, "Slide", "Course", new { courseId = Model.CoursePageModel.Course.Id, slideIndex = counter }, null)</td>
									<td data-sort-value="@(info.Value.IsVisited ? 1 : 0)" class="analytics @(info.Value.IsVisited ? "visited" : "not-visited")"></td>
									<td 
										data-sort-value="@(stats.IsSolved ? 1 : stats.IsExercise ? 0 : 2)" 
										class="analytics @(stats.IsSolved? "solved" : stats.IsExercise ? "not-solved" : "")"></td>
								    <td>@(info.Value.UserMark ?? "")</td>
								    <td data-sort-value="@(isNeedDrowHintsInfo ? stats.HintsCountOnSlide + 1000 : 0)">
								        @(isNeedDrowHintsInfo ? stats.HintsCountOnSlide.ToString(CultureInfo.InvariantCulture) : "")
								    </td>
								    <td data-sort-value="@(isNeedDrowHintsInfo ? stats.HintUsedPercent + 1000 : 0)">
								        @(isNeedDrowHintsInfo ? stats.HintUsedPercent + "%" : "")
								    </td>
								</tr>
							}
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>

@section scripts{
	<script src="~/tablesorter-master/jquery.tablesorter.js"></script>
	<script src="~/Scripts/table-configurator.js"> </script>
}


