@using System.Globalization
@using Microsoft.Ajax.Utilities
@using uLearn
@model AnalyticsTablePageModel
@{
	ViewBag.Title = "TableAnalytics";
}

@Html.Partial("../Course/_Sidebar", Model.CoursePageModel)

<body>
	<script language="JavaScript" type="text/javascript" src="~/Scripts/jquery-2.1.1.min.js"></script>
	<script language="JavaScript" type="text/javascript" src="~/tablesorter-master/jquery.tablesorter.js"></script>
	<div class="slide-container">
		<div class="container body-content">
			<div class="row">
				<div class='slide'>
					<table id="myTable" class="tablesorter">
						<thead>
							<tr>
								<th>Unit name</th>
								<th>Visiters count</th>
								<th>Solvers count</th>
								<th>Marks count</th>
								<th>OK percent</th>
								<th>Nipanyatna percent</th>
								<th>ez percent</th>
							</tr>
						</thead>
						<tbody>
							@foreach (var info in Model.TableInfo)
							{
								<tr>
									<td>@info.Key</td>
									<td>@info.Value.VisitersCount</td>
									<td>@(info.Value.IsExercise ? info.Value.SolversCount.ToString(CultureInfo.InvariantCulture) : "")</td>
									<td>@info.Value.Marks.Count</td>
									<td>@info.Value.Marks.Good</td>
									<td>@info.Value.Marks.NotUnderstand</td>
									<td>@info.Value.Marks.Trivial</td>
								</tr>
							}
						</tbody>
					</table>

				</div>
			</div>
		</div>
	</div>
	<script src="~/Scripts/table-configurator.js"> </script>
</body>



