@using System.Globalization
@using Microsoft.Ajax.Utilities
@using uLearn
@model AnalyticsTablePageModel
@{
	ViewBag.Title = "Total statistics";
}

@Html.Partial("_TableOfContents", Model.CoursePageModel)

<body>
	<div class="slide-container">
		<div class="container body-content">
			<div class="row">
				<table id="myTable" class="tablesorter">
					<thead>
						<tr>
							<th>Название</th>
							<th>Количество просмотревших</th>
							<th>Успешные решения</th>
							<th>Количество оценок</th>
							<th>оценок "хорошо"</th>
							<th>оценок "не понятно"</th>
						    <th>оценок "тривиально"</th>
						    <th>подсказок на слайде</th>
							<th>из них в среднем используются</th>
						</tr>
					</thead>
					<tbody>
						@{ var counter = -1;}
						@foreach (var info in Model.TableInfo)
						{
							counter++;
						    <tr>
						        @{
							        var isNeedDrowHintsInfo = (info.Value.IsExercise && info.Value.TotalHintCount != 0);
							        var url = Url.Action("Slide", "Course", new {courseId = Model.CoursePageModel.Course.Id, slideIndex = counter}, null);
						        }
								<td class="slide-list-item" data-sort-value=@(counter + 1000) onclick="window.location.href='@url'"><h6 class="table-header">@info.Key</h6></td>
						        <td>@info.Value.VisitersCount</td>
							    <td data-sort-value=@(info.Value.IsExercise ? info.Value.SolversCount+1000 : 0)>
								    @(info.Value.IsExercise ? info.Value.SolversCount.ToString(CultureInfo.InvariantCulture) : "")
							    </td>
								<td>@info.Value.Rates.Count</td>
								<td>@(info.Value.Rates.Count == 0 ? 0 : (int)(100 * (double)info.Value.Rates.Good / info.Value.Rates.Count))%</td>
								<td>@(info.Value.Rates.Count == 0 ? 0 : (int)(100 * (double)info.Value.Rates.NotUnderstand / info.Value.Rates.Count))%</td>
								<td>@(info.Value.Rates.Count == 0 ? 0 : (int)(100 * (double)info.Value.Rates.Trivial / info.Value.Rates.Count))%</td>
						        <td data-sort-value=@(isNeedDrowHintsInfo ? info.Value.TotalHintCount + 1000 : 0)>
						            @(isNeedDrowHintsInfo ? info.Value.TotalHintCount.ToString(CultureInfo.InvariantCulture) : "")
						        </td>
						        <td data-sort-value=@(isNeedDrowHintsInfo ? info.Value.HintUsedPercent + 1000 : 0)>
						            @(isNeedDrowHintsInfo ? info.Value.HintUsedPercent.ToString(CultureInfo.InvariantCulture) + "%" : "")
						        </td>
						    </tr>
						}
					</tbody>
				</table>

			</div>
		</div>
	</div>
</body>

@section scripts{
	<script src="~/tablesorter-master/jquery.tablesorter.js"></script>
	<script src="~/Scripts/table-configurator.js"> </script>
}



