@using System.Globalization
@using uLearn
@model AnalyticsTablePageModel
@{
	ViewBag.Title = "Total statistics";
}


@Html.Action("TableOfContents", "SlideNavigation", new { courseId = Model.CourseId })

<body>
	<div class="slide-container">
		<div class="container body-content">
			<div class="row">
				<table id="myTable" class="tablesorter">
					<thead>
						<tr>
							<th style="min-width: 200px">Название слайда</th>
							<th>Количество просмотревших</th>
							<th>Процент нажавших submit/run от просмотревших</th>
							<th>Средняя решабельность квиза</th>
							<th>Количество оценок</th>
							<th>оценок "хорошо"</th>
							<th>оценок "не понятно"</th>
						    <th>оценок "тривиально"</th>
						    <th>Подсказок на слайде</th>
							<th>из них в среднем используются</th>
						</tr>
					</thead>
					<tbody>
						@{ var counter = -1;}
						@foreach (var info in Model.TableInfo)
						{
							counter++;
						    <tr>
						        @{
							        var isNeedDrowHintsInfo = (info.Value.IsExercise && info.Value.TotalHintCount != 0);
							        var url = Url.Action("Slide", "Course", new {courseId = Model.CourseId, slideIndex = counter}, null);
						        }
								<td class="slide-list-item" data-sort-value=@(counter + 100000) onclick="window.location.href='@url'"><p class="table-header">@info.Key</p></td>
						        <td>@info.Value.VisitersCount</td>
							    <td data-sort-value=@((info.Value.IsExercise || info.Value.IsQuiz) ? info.Value.SolversPercent+1000 : 0)>
								    @((info.Value.IsExercise || info.Value.IsQuiz) ? info.Value.SolversPercent.ToString(CultureInfo.InvariantCulture)+"%" : "" )
							    </td>
							    <td data-sort-value=@(info.Value.IsQuiz ? info.Value.SuccessQuizPercentage +1000 : 0)>
								    @(info.Value.IsQuiz ? (info.Value.SuccessQuizPercentage).ToString(CultureInfo.InvariantCulture)+"%" : "")
							    </td>
								<td>@info.Value.Rates.Count</td>
								<td>@(info.Value.Rates.Count == 0 ? 0 : (int)(100 * (double)info.Value.Rates.Good / info.Value.Rates.Count))%</td>
								<td>@(info.Value.Rates.Count == 0 ? 0 : (int)(100 * (double)info.Value.Rates.NotUnderstand / info.Value.Rates.Count))%</td>
								<td>@(info.Value.Rates.Count == 0 ? 0 : (int)(100 * (double)info.Value.Rates.Trivial / info.Value.Rates.Count))%</td>
						        <td data-sort-value=@(isNeedDrowHintsInfo ? info.Value.TotalHintCount + 1000 : 0)>
						            @(isNeedDrowHintsInfo ? info.Value.TotalHintCount.ToString(CultureInfo.InvariantCulture) : "")
						        </td>
						        <td data-sort-value=@(isNeedDrowHintsInfo ? info.Value.HintUsedPercent + 1000 : 0)>
						            @(isNeedDrowHintsInfo ? info.Value.HintUsedPercent.ToString(CultureInfo.InvariantCulture) + "%" : "")
						        </td>
						    </tr>
						}
					</tbody>
				</table>

			</div>
		</div>
	</div>
</body>

@section scripts {
	<script src="~/tablesorter-master/js/jquery.tablesorter.js"></script>
	<script src="~/Scripts/table-configurator.js"> </script>
}



