@using uLearn
@model uLearn.UnitStatisticPageModel
@{
	ViewBag.Title = "Total statistics";
}


@Html.Action("TableOfContents", "SlideNavigation", new { courseId = Model.CourseId })

<body>
	<div class="slide-container">
		<div class="container body-content">
			<div class="row">
				<table id="myTable" class="tablesorter">
					<thead>
						<tr>
							<th>user name</th>
							<th>group name</th>
							@for (var i = 0; i < Model.Slides.Length; i++)
							{
								var slide = Model.Slides[i];
								var url = Url.Action("Slide", "Course", new {courseId = Model.CourseId, slideIndex = i}, null);
								<th class="slide-list-item" 
									data-sort-value=@(i + 100000) 
									onclick="window.location.href='@url'">
									<p class="table-header">@slide.Title</p>
								</th>
							}
						</tr>
					</thead>
					<tbody>
						@foreach (var user in Model.Table)
						{
							<tr>
								<td>
									<h6>@user.Key</h6>
								</td>
								<td>
									<textarea id="@(user.Key)" data-url="@Url.Action("AddUserGroup","Analytics")">@user.Value.UserGroup</textarea>
									<button onclick="changeGroup('@user.Key')">Change group</button>
								</td>
								@for (var i = 0; i < user.Value.SlidesInfo.Length; i++)
								{
									if (Model.Slides[i] is ExerciseSlide)
									{
										var styleClass = @user.Value.SlidesInfo[i].IsExerciseSolved ? "green-stat" : "red-stat";
										<td class="@styleClass">Попыток сделано: @user.Value.SlidesInfo[i].AttemptsNumber</td>
									}
									else if (Model.Slides[i] is QuizSlide)
									{
										var styleClass = @user.Value.SlidesInfo[i].IsQuizPassed ? "green-stat" : "red-stat";
										<td class="@styleClass">Квиз решен на: @(user.Value.SlidesInfo[i].QuizSuccessful)%</td>
									}
									else
									{
										var styleClass = @user.Value.SlidesInfo[i].IsVisited ? "green-stat" : "red-stat";
										<td class="@styleClass"></td>
									}
								}
							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>

@section scripts{
	<script src="~/tablesorter-master/jquery.tablesorter.js"></script>
	<script src="~/Scripts/table-configurator.js"></script>
	<script src="~/Scripts/user-group-name-change.js"></script>
}
