@using uLearn
@model UsersStatsPageModel
@{
	ViewBag.Title = "Users statistics";
}

@Html.Partial("_TableOfContents", Model.CoursePageModel)

<body>
	<div class="slide-container">
		<div class="container body-content">
			<div class="row">
				<table id="myTable" class="tablesorter">
					<thead>
						<tr>
							<th>user name</th>
							@foreach (var unitName in Model.UnitNamesInOrdered)
							{
								<th>@unitName</th>
							}
							<th>total</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var user in Model.UserStats)
						{
							<tr>
								<td>@user.Key</td>
								@foreach (var unitName in Model.UnitNamesInOrdered)
								{
									<td>@(user.Value[unitName] + "%")</td>
								}
								<td>
									@(user.Value.Values.Sum() / user.Value.Count + "%")
								</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<script src="~/Scripts/table-configurator.js"> </script>
</body>

@section scripts{
	<script src="~/tablesorter-master/jquery.tablesorter.js"></script>
	<script src="~/Scripts/table-configurator.js"> </script>
}
