@model uLearn.Web.Controllers.UserSolutionsViewModel

@{
	ViewBag.Title = "Решения " + Model.User.VisibleName + "(" + Model.User.UserName + ")";
}

<div class="wide-container">
	<h2>
		@Html.RouteLink(Model.Slide.Title, "Course.SlideById", new { courseId = Model.Course.Id, slideId = Model.Slide.Url }).
		Решения @Model.User.VisibleName (@Model.User.UserName@(Model.GroupsNames != "" ? ", " + Model.GroupsNames : ""))
	</h2>
	<p>
		@Html.ActionLink("Cтатистика пользователя по всему курсу", "CourseInfo", "Account", new { userId = Model.User.Id, courseId = Model.Course.Id }, null)
	</p>

	@Html.Action("Submission", "Exercise", new { courseId = Model.Course.Id, slideId = Model.Slide.Id, userId = Model.User.Id, submissionId = Model.SubmissionId, instructorView = true, onlyAccepted = false, showOutput = true })
</div>