@using uLearn
@using uLearn.Quizes
@model QuizInfoModel
@{
	var quizBlock = (ChoiceBlock)Model.CurrentBlock;
	var isMultiply = quizBlock.Multiple;
	var typeInp = isMultiply ? "checkbox" : "radio";

	<div class="quiz-block-mark @typeInp" id='@(quizBlock.Id + "_quizBlock")'>
		@for (int itemIndex = 0; itemIndex < quizBlock.Items.Length; itemIndex++)
		{
			var ident = isMultiply ? itemIndex + "noMult" : Model.BlockIndex.ToString();
			var item = quizBlock.Items[itemIndex];
			var itemChecked = Model.Passed && Model.CourseModel.AnswersToQuizes[quizBlock.Id].Contains(item.Id);
			var ans = itemChecked ? "checked" : "";
			var itemClass = Model.Passed ? (item.IsCorrect ? "right-quiz" : itemChecked ? "wrong-quiz" : "") : "";
			var title = Model.Passed ? ((item.IsCorrect ? "Правильный" : "Неправильный") + " вариант") : "";
			<div class="quiz">
				<label class="@itemClass" title="@title">
					<input @ans autocomplete="off" id='@(quizBlock.Id + "quizBlock" + item.Id)' name=@("group"+ident) type="@typeInp">
					@item.Description.RenderTex()
				</label>
			</div>
		}
	</div>
}
