@model uLearn.CoursePageModel
<div class="panel-group" id="hints-accordion">
    @{ var slide = Model.Slide as uLearn.ExerciseSlide;}
    <div id="hintsStore" data-url="@Url.Action("GetHint")"></div>
    @for (int index = 0; index < slide.HintsHtml.Length; index++)
{
	var hintHtml = slide.HintsHtml[index];
	var id = "hint" + index;
		<div id="@id" data-url="@Url.Action("AddHint")" style="display:none">
			@{ var intro = index == 0 ? "Подсказки:" : "";}
			<h4>@intro</h4>
			<div>
				<button style="float: left" class="like-left-location btn">
					<i class="glyphicon glyphicon-thumbs-up"></i>
				</button>
				<li>@Html.Raw(hintHtml)</li>
			</div>
		</div>
}
    <div id="currentHint" style="display:none">-1</div>
	<script src="~/Scripts/slide-hints.js"></script>
	<script src="~/Scripts/jquery-1.10.2.min.js"></script>
	<script>getHints("@Model.Course.Id", "@Model.Slide.Id")</script>
</div>