@model uLearn.HintPageModel
@foreach (var hint in Model.Hints)
{
	<div>
		<button id="@(hint.HintId + "likeHint")"
		class="like-left-location btn btn-xs like-button @(hint.IsLiked ? "btn-primary" : "btn-default")"
		data-url="@Url.Action("LikeHint", "Hint")"
		onclick="likeHint('@hint.CourseId', '@hint.SlideId', '@hint.HintId') "
		title="Подсказка помогла!">
		<i class="glyphicon glyphicon-heart"></i>
		</button>
		@Html.Raw(hint.Hint)
	</div>
}