@using uLearn
@using uLearn.Quizes
@model uLearn.CoursePageModel
@{ var QuizSlide = Model.Slide as QuizSlide;}
@if (QuizSlide != null)
{
    for (int blockIndex = 0; blockIndex < QuizSlide.Quiz.Blocks.Length; blockIndex++)
    {
        var quizBlock = QuizSlide.Quiz.Blocks[blockIndex];
        <p>@Html.Raw(quizBlock.Text)</p>

		if (quizBlock is ChoiceBlock)
		{
			var choiceQuizBlock = quizBlock as ChoiceBlock;
		    var isMultiply = choiceQuizBlock.Multiple;
				<ul id='@(quizBlock.Id + "_quizBlock")'>
					@for (int itemIndex = 0; itemIndex < choiceQuizBlock.Items.Length; itemIndex++)
					{
					    var ident = isMultiply ? blockIndex.ToString() : itemIndex + "noMult";
						var var = choiceQuizBlock.Items[itemIndex];
					    <li><input name=@("group"+ident) class="quiz" id='@(blockIndex + "_" + itemIndex + "_quizItem")' type="radio">@var.Description</li>
					}
				</ul>
		}
		else if (quizBlock is FillInBlock)
		{
                @:<input class="quiz"  id='@(blockIndex + "_" + "placetoinsert" + "_quizItem")'>
            }		
    }
    <div id="quizSub">
        <button onclick="submitQuiz('@Model.Course.Id','@Model.SlideIndex')">Submit my result</button>
    </div>
}