@using uLearn
@using uLearn.Quizes
@model uLearn.CoursePageModel
@{ var QuizSlide = Model.Slide as QuizSlide;}
@if (QuizSlide != null)
{
	for (int blockIndex = 0; blockIndex < QuizSlide.Quiz.Blocks.Length; blockIndex++)
	{
		var quizBlock = QuizSlide.Quiz.Blocks[blockIndex];
		<p>@Html.Raw(quizBlock.Text)</p>

		if (quizBlock is ChoiceBlock)
		{
			var choiceQuizBlock = quizBlock as ChoiceBlock;
			var isMultiply = choiceQuizBlock.Multiple;
			var typeInp = isMultiply ? "checkbox" : "radio";
			<div class="@typeInp" id='@(quizBlock.Id + "_quizBlock")'>
				@for (int itemIndex = 0; itemIndex < choiceQuizBlock.Items.Length; itemIndex++)
				{
					var ident = isMultiply ? itemIndex + "noMult" : blockIndex.ToString();
					var var = choiceQuizBlock.Items[itemIndex];
					var correct = var.IsCorrect ? "true" : "false";
					<div class="quiz">
						<i class="@correct"></i>
						<label><input id='@(blockIndex + "_" + itemIndex + "_quizItem")' name=@("group"+ident) type="@typeInp">@var.Description</label>
					</div>
				}
			</div>
		}
		else if (quizBlock is FillInBlock)
		{
		    <div class="quiz">
				<label>
					<input id='@(blockIndex + "_" + "placetoinsert" + "_quizItem")'>
				</label>
		    </div>
		}
		else if (quizBlock is IsTrueBlock)
		{
			var selecter = quizBlock as IsTrueBlock;
			var tr = selecter.Answer ? "true" : "false";
			var fl = selecter.Answer ? "false" : "true";
			<div class="radio" id="@(quizBlock.Id + "_quizBlock")">
				<div class="quiz">
					<i class="@tr"></i>
					<label><input id='@(blockIndex + "_" + "True" + "_quizItem")' name='@(quizBlock.Id+"group")' type="radio">True</label>
				</div>
				<div class="quiz">
					<i class="@fl"></i>
					<label><input id='@(blockIndex + "_" + "False" + "_quizItem")' name='@(quizBlock.Id+"group")' type="radio">False</label>
				</div>
			</div>
		}
	}
	<div id="quizSub" data-url='@Url.Action("SubmitQuiz")'>
		<button onclick="submitQuiz('@Model.Course.Id','@Model.SlideIndex')">Submit my result</button>
	</div>
}