@using System.Text
@using uLearn
@using uLearn.Quizes
@model CoursePageModel
@{ var QuizSlide = Model.Slide as QuizSlide;}
@if (QuizSlide != null)
{
	var passed = Model.PassedQuiz.Contains(QuizSlide.Id);
	for (int blockIndex = 0; blockIndex < QuizSlide.Quiz.Blocks.Length; blockIndex++)
	{
		var quizBlock = QuizSlide.Quiz.Blocks[blockIndex];
	    var quizModel = new QuizInfoModel(Model, quizBlock, blockIndex, passed);
		if (quizBlock is CodeBlock)
		{
			<textarea class='code code-sample'>@quizBlock.Text</textarea>
		}
		else
		{
			var questionBlock = quizBlock as AbstractQuestionBlock;
			if (questionBlock != null)
			{
				<h4>@questionBlock.QuestionIndex. @questionBlock.Text</h4>
			}
			else
			{
				@Html.Raw(quizBlock.Text.RenderMd())
			}
		}
	    if (quizBlock is ChoiceBlock)
	    {
	        @Html.Partial("_ChoiceBlock", quizModel)
	    }
		
		else if (quizBlock is FillInBlock)
		{
		    @Html.Partial("_FillInBlock", quizModel)
		}
		else if (quizBlock is IsTrueBlock)
		{
		    @Html.Partial("_TrueFalseBlock", quizModel)
		}
	}
    <div style="display:none;" id="quizAns" data-url="@Url.Action("GetRightAnswersToQuiz")">none</div>
	<div id="quizSub" data-url='@Url.Action("SubmitQuiz")'>
		<button style="margin-top:10px; margin-bottom:5px;" class="btn btn-default" onclick="submitQuiz('@Model.Course.Id','@Model.SlideIndex','@Model.AnswersToQuizes.Count')">Submit my result</button>
	</div>
}