@model uLearn.CoursePageModel
@using uLearn;
@{ var slide = Model.Slide as ExerciseSlide; }
<textarea id="secretCodeExercise" class='hide'>@slide.ExerciseInitialCode.EnsureEnoughLines(4)</textarea>
<div class="sphere-engine-tm">Powered by <a target="blank" href="http://sphere-engine.com">Sphere Engine ™</a></div>
@if (Model.IsPassedTask)
{
	<textarea class='code code-exercise'>@Model.LatestAcceptedSolution</textarea>
}
else
{
	<textarea class='code code-exercise'>@slide.ExerciseInitialCode.EnsureEnoughLines(4)</textarea>
}
<script>
	function cleanUserCode() {
		var $secretCodeExercise = $('#secretCodeExercise');
		$('.code-exercise')[0].codeMirrorEditor.setValue($secretCodeExercise.text());
	}
</script>
@*
	<a href="#" onclick="updateVerdict(true, 'Успех!', 'some right answer', false)">OK</a>
	<a href="#" onclick="updateVerdict(false, 'Compilation error', 'details', true)">CompilationError</a>
	<a href="#" onclick="updateVerdict(false, 'Неверный ответ', 'Bullshit', false)">WrongAnswer</a>
*@
<div class="solution-control btn-group">
    <button type="button" class="run-solution-button btn btn-default no-rounds"
            data-url="@Url.Action("RunSolution", new {courseId = Model.Course.Id, slideIndex = Model.SlideIndex})">
        RUN
    </button>

    <button type="button" class="btn btn-default reset-btn" onclick="cleanUserCode()">
        RESET
    </button>

    <button id="GetHintButton" type="button" class="btn btn-default hints-btn no-rounds" onclick="showHintForUser('@Model.Course.Id','@Model.Slide.Id', '@slide.HintsHtml.Count()')">
        GET HINT
    </button>
</div>
<div class="run-verdict clearfix"></div>
<div class="after-run-block">
	<div class="actual-output">
		<div class="output-label">Вывод вашей программы:</div>
		<pre class="no-rounds"><code class="actual-output-content"></code></pre>
	</div>
	<div class="diff-table"></div>
</div>
@Html.Partial("_ExerciseHints", Model)