@model CoursePageModel
@using uLearn;
@{ var slide = (ExerciseSlide)Model.Slide; }
<textarea id="secretCodeExercise" class='hide'>@slide.ExerciseInitialCode.EnsureEnoughLines(4)</textarea>
<div class="sphere-engine-tm">Powered by <a target="blank" href="http://sphere-engine.com">Sphere Engine™</a> and <a target="blank" href="http://codemirror.net/">CodeMirror</a></div>
<textarea class='code code-exercise'>@(@Model.LatestAcceptedSolution ?? slide.ExerciseInitialCode.EnsureEnoughLines(4))</textarea>
<script>
	function cleanUserCode() {
		var $secretCodeExercise = $('#secretCodeExercise');
		$('.code-exercise')[0].codeMirrorEditor.setValue($secretCodeExercise.text());
	}
</script>
<div class="solution-control btn-group ctrl-group">
	<button type="button" class="run-solution-button btn btn-primary no-rounds"
			data-url="@Url.Action("RunSolution", "Exercise", new {courseId = Model.CourseId, slideIndex = Model.Slide.Index})">
		RUN
	</button>

	<button type="button" class="btn btn-default reset-btn" onclick="cleanUserCode()">
		RESET
	</button>

	@{ var e = ((ExerciseSlide)Model.Slide).HintsMd; }
	<button id="GetHintButton" type="button" class="btn btn-default hints-btn no-rounds"
			onclick="showHintForUser('@Model.CourseId','@Model.Slide.Index', '@e.Count')"
			data-url="@Url.Action("UseHint", "Hint")">
		GET HINT
	</button>
</div>

<div class="run-result run-service-error">
	<div class="run-verdict label-warning">Ошибка сервера :(</div>
	<pre class="no-rounds"><code class="run-details"></code></pre>
</div>

<div class="run-result run-compile-error">
	<div class="run-verdict label-danger">Ошибка компиляции</div>
	<pre class="no-rounds"><code class="run-details"></code></pre>
</div>

<div class="run-result run-style-error">
	<div class="run-verdict label-danger">Нарушение стилевых требований</div>
	<pre class="no-rounds"><code class="run-details"></code></pre>
	<div><small>В некоторых ситуациях стилевые проверки тут могут быть жестче, чем необходимо в реальной жизни.</small></div>
</div>

<div class="run-result run-wa">
	<div class="run-verdict label-danger">Неверный результат</div>
	<div class="diff-table tablesorter"></div>
</div>

<div class="run-result run-success">
	<div class="run-verdict label-success clearfix">Успех!</div>
	<pre class="no-rounds"><code class="run-details"></code></pre>
</div>

<div class="panel-group ctrl-group" id="hints-accordion">
	<div id="hints-place"></div>
</div>
