@using uLearn
@using uLearn.Quizes
@model QuizInfoModel
@{
	var tchecked = "";
	var fchecked = "";
	var quizBlock = (IsTrueBlock)Model.CurrentBlock;
	if (Model.Passed && Model.CourseModel.AnswersToQuizes[quizBlock.Id].FirstOrDefault() != null)
	{
		tchecked = Model.CourseModel.AnswersToQuizes[quizBlock.Id].FirstOrDefault() == "True" ? "checked" : "";
		fchecked = Model.CourseModel.AnswersToQuizes[quizBlock.Id].FirstOrDefault() == "False" ? "checked" : "";
	}
	<div class="radio quiz-block-mark" id="@(quizBlock.Id + "_quizBlock")">
		<div class="quiz">
			<i></i>
			<label><input @tchecked id='@(quizBlock.Id + "quizBlock" + "True")' name='@(quizBlock.Id+"group")' type="radio">Верно</label>
		</div>
		<div class="quiz">
			<i></i>
			<label><input @fchecked id='@(quizBlock.Id + "quizBlock" + "False")' name='@(quizBlock.Id+"group")' type="radio">Не верно</label>
		</div>
	</div>
}