@using uLearn.Web.Views.Course
@model AcceptedSolutionsPageModel

@{
	ViewBag.Title = Model.CourseTitle;
}
@if (!Model.IsLti)
{
	<div class="slide-container">
		<div class="container body-content">
			<div class="row">
				<h1 class='page-header'>Решения</h1>
				@AcceptedSolutionsHtml.AcceptedSolutions(Model)
				@Html.Action("PrevNextButtons", "SlideNavigation", new { courseId = Model.CourseId, slideId = Model.Slide.Id, onSolutionsSlide = true, isGuest = false })
			</div>
		</div>
	</div>
}
else
{
	Layout = null;
	<html>
	<head>
		<title>title</title>
		@Styles.Render("~/css")
	</head>
	<body>
	@AcceptedSolutionsHtml.AcceptedSolutions(Model)
	@Scripts.Render("~/main-js")
	</body>
	</html>
}