@using uLearn
@model AcceptedSolutionsPageModel

@{
	ViewBag.Title = Model.CourseTitle + " | uLearn";
}

@Html.Action("TableOfContents", "SlideNavigation", new { courseId = Model.CourseId })

<div class="slide-container">
	<div class="container body-content">
		<div class="row">
			<div id="LikeSolutionUrl" data-url="@Url.Action("LikeSolution")"></div>
			<h1 class='page-header'>Решения</h1>
			<p>@Html.Raw(Model.Slide.CommentAfterExerciseIsSolved.RenderMd(Model.Slide.Info.SlideFile))</p>

			<p>Изучите решения ваших коллег. Проголосуйте за решения, в которых вы нашли что-то новое для себя.</p>

			@foreach (AcceptedSolutionInfo solution in Model.AcceptedSolutions)
			{
				var id = "solution_" + solution.Id;
				<div id="@id">
					<button class="like-left-location btn @(solution.LikedAlready ? "btn-primary" : "btn-default") like-button" onclick="likeSolution(@solution.Id)">
						<i class="glyphicon glyphicon-heart"></i>
						<span class="likes-counter">@solution.UsersWhoLike.Count</span>
					</button>

					@if (User.IsInRole(LmsRoles.Instructor) || User.IsInRole(LmsRoles.Admin))
					{
						using (Html.BeginForm("RemoveSolution", "Course", new { courseId = Model.CourseId, slideIndex = Model.Slide.Index, solutionId = solution.Id }))
						{
							<button class="btn btn-danger"><i class="glyphicon glyphicon-remove"></i>
								Удалить решение
							</button>
						}
					}
					<textarea class='code code-sample'>@solution.Code</textarea>
				</div>
			}
			@Html.Action("PrevNextButtons", "SlideNavigation", new { courseId = Model.CourseId, slideIndex = Model.Slide.Index, onSolutionsSlide = true })
		</div>
	</div>
</div>
@section scripts{
	@Scripts.Render("~/slide-js")
}
