@using uLearn.Web.Extensions
@model CourseInstructorNavbarViewModel

@if (Model != null)
{
	<li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span>@Model.CourseTitle.TruncateWithEllipsis(40) <span class="caret"></span></span></a>
		<ul class="dropdown-menu pull-left min-width-300">
			<li>@Html.RouteLink("Просмотр курса", "Course.Slide", new { Model.CourseId }, new { })</li>
			<li class="divider" role="separator"></li>
			<li>@Html.ActionLink("Группы", "Groups", "Admin", new { Model.CourseId }, new { })</li>
			<li><a href="@Url.Action("CourseStatistics", "Analytics", new { Model.CourseId })">Ведомость курса <sup>&beta;</sup></a></li>
			<li>@Html.ActionLink("Ведомость модуля", "UnitStatistics", "Analytics", new { Model.CourseId }, new { })</li>
			<li>@Html.ActionLink("Сертификаты", "Certificates", "Admin", new { Model.CourseId }, new { })</li>
			@if (User.HasAccessFor(Model.CourseId, CourseRole.CourseAdmin))
			{
				<li class="divider" role="separator"></li>
				<li>@Html.ActionLink("Пользователи", "Users", "Admin", new { Model.CourseId }, new { })</li>
				<li>@Html.ActionLink("Загрузить пакет", "Packages", "Admin", new { Model.CourseId }, new { })</li>
				<li>@Html.ActionLink("Модули", "Units", "Admin", new { Model.CourseId }, new { })</li>
				<li>@Html.ActionLink("Клиенты грейдера", "Clients", "Grader", new { Model.CourseId }, new { })</li>
			}
			<li class="divider" role="separator"></li>
			<li>@Html.ActionLink("Комментарии", "Comments", "Admin", new { Model.CourseId }, new { })</li>
			<li>@Html.ActionLink("Проверка тестов", "ManualQuizCheckingQueue", "Admin", new { Model.CourseId }, new { })</li>
			<li>@Html.ActionLink("Код-ревью", "ManualExerciseCheckingQueue", "Admin", new { Model.CourseId }, new { })</li>
		</ul>
	</li>
}
