@using uLearn.Web.Views.Course
@model CodeModel

@{
	Layout = null;
}

<!DOCTYPE html>
<html>
<head>
	<title>Exercise</title>
	@Styles.Render("~/css")
</head>
<body class="lti-component">
	@if (Model != null)
	{
		@SlideHtml.Block(Model.ExerciseBlock, Model.Context, Html)

		@Scripts.Render("~/main-js")
		<script> getHints("@Model.CourseId", "@Model.SlideIndex", '@Model.ExerciseBlock.HintsMd.Count') </script>
		ExerciseBlockData data = Model.Context.GetBlockData(Model.ExerciseBlock);
		<script> refreshPreviousDraft('@(data.Solution != null)', '@Model.SlideId') </script>
	}
</body>

</html>