@using uLearn
@using uLearn.Web.Views.Course
@using Ulearn.Core
@model CodeModel

@{
	Layout = null;
}

<!DOCTYPE html>
<html>
<head>
	<title>Exercise</title>
	@Styles.Render("~/katex/katex.min.css")
</head>
<body class="lti-component">
@if (Model != null)
{
	@SlideHtml.Block(Model.ExerciseBlock, Model.Context, Html)

	<script>
		getHints("@Model.CourseId", "@Model.SlideId.GetNormalizedGuid()", '@Model.ExerciseBlock.HintsMd.Count');
		refreshPreviousDraft('@Model.SlideId');
	</script>
}

</body>
</html>