@using uLearn
@using uLearn.Web.Views.Course
@model CodeModel

@{
	Layout = null;
}

<!DOCTYPE html>
<html>
<head>
	<title>Exercise</title>
	@Styles.Render("~/ulearn.bundle.css")
	@Styles.Render("~/katex/katex.min.css")
</head>
<body class="lti-component">
@if (Model != null)
{
	@SlideHtml.Block(Model.ExerciseBlock, Model.Context, Html)

	@Scripts.Render("~/scripts.bundle.js")
	<script> getHints("@Model.CourseId", "@Model.SlideId.GetNormalizedGuid()", '@Model.ExerciseBlock.HintsMd.Count') </script>
	<script>
	refreshPreviousDraft('@Model.SlideId')
	</script>
}

@Html.Partial("_YandexMetrika")
</body>
</html>