@model List<UserQuestion>

@foreach (var q in Model.OrderByDescending(q => q.Time))
{
	<div style="font-weight:bold">
		<span>@q.Time.ToShortDateString()</span>
		<span>@q.UserName</span>
		<span>@q.User.GroupName</span>
		<span>@q.SlideTitle</span>
	</div>
	<div style="margin-bottom: 1em;">
		@q.Question
	</div>
}