@using uLearn
@model CoursePageModel

@{
	ViewBag.Title = Model.Course.Title;
}
<div class="container">
	<div class="row">
		<div class='slide'>
			@foreach (SlideBlock block in Model.Slide.Blocks)
			{
				if (block.IsCodeSample)
				{
					<textarea class='code code-sample'>@block.Text</textarea>
				}
				else
				{
					@Html.Raw(block.RenderedText)
				}
			}
			
		    @{ var slide = Model.Slide as ExerciseSlide; }
			@if (slide != null)
			{
				<p>Допишите решение в окне ниже:</p>
				<textarea class='code code-exercise'>@slide.Exercise.Text</textarea>
				
				<text>Ожидаемый вывод на консоль:</text>
				<pre class="expected-output"><code>@slide.ExpectedOutput</code></pre>
				<pre class="actual-output"><code>@Model.ActualExerciseOutput</code></pre>
				@Html.Partial("_ExerciseHints", slide.HintsHtml)
			}
			
		</div>
	</div>
	<div class="row">
		@if (Model.HasPrevSlide)
		{
			<a class="nav-arrow nav-left" id="PrevLink" href="@Url.Action("Slide", new { courseId = Model.Course.Id, slideIndex = Model.SlideIndex - 1 })"><i class="glyphicon glyphicon-chevron-left"></i></a>
		}
		@if (Model.HasNextSlide)
		{
			<a class="nav-arrow nav-right" id="NextLink" href="@Url.Action("Slide", new { courseId = Model.Course.Id, slideIndex = Model.SlideIndex + 1 })"><i class="glyphicon glyphicon-chevron-right"></i></a>
		}
	</div>
</div>
@section scripts{
	<script src="~/Scripts/navigate.js"></script>
	<script>
		CodeMirror.commands.autocomplete = function (cm) {
			cm.showHint({ hint: CodeMirror.hint.csharp });
		}

		function codeMirrorClass(c, editable) {
			var codes = document.getElementsByClassName(c);
			for (var i = 0; i < codes.length; i++)
				CodeMirror.fromTextArea(codes[i],
		        {
		        	mode: "text/x-csharp",
		        	lineNumbers: true,
		        	theme: editable ? "cobalt" : "default",
		        	indentWithTabs: true,
		        	tabSize: 4,
		        	indentUnit: 4,
		        	extraKeys: { "Ctrl-Space": "autocomplete" },
		        	readOnly: editable ? false : "nocursor",
		        });
		}

		codeMirrorClass("code-exercise", true);
		codeMirrorClass("code-sample", false);
	</script>
}
