@using uLearn
@model CoursePageModel

@{
	ViewBag.Title = Model.Course.Title;
}
<div class="container">
	<div class="row">
		<div class='slide'>
			@foreach (SlideBlock block in Model.Slide.Blocks)
			{
				if (block.IsCode)
				{
					<textarea class='code code-sample'>@block.Text</textarea>
				}
				else
				{
					@Html.Raw(block.RenderedText)
				}
			}

			@{ var slide = Model.Slide as ExerciseSlide; }
			@if (slide != null)
			{
			    <p>Допишите решение в окне ниже:</p>
				<textarea class='code code-exercise'>@slide.ExerciseInitialCode</textarea>

				<text>Ожидаемый вывод на консоль:</text>
				<pre class="expected-output"><code>@slide.ExpectedOutput</code></pre>
				<pre class="actual-output"><code>@Model.ActualExerciseOutput</code></pre>
				@Html.Partial("_ExerciseHints", slide.HintsHtml)

			    <button type="button" id="run" class="btn btn-primary btn-lg">RUN</button>
				
			}

		</div>

	</div>

	@Html.Partial("_SlideNavigation", Model)
</div>
@section scripts{
	<script src="~/Scripts/navigate.js"></script>
    <script src="~/Scripts/lessons.js"></script>
    <script>
		var runSolutionUrl = "@Html.Raw(Url.Action("RunSolution", new{courseId=Model.Course.Id, slideIndex=Model.SlideIndex}))";
		console.log(runSolutionUrl);
    </script>

}
