@using Database.Models
@using uLearn
@using uLearn.Quizes
@using uLearn.Web.Extensions
@using uLearn.Web.Views.Course
@model CoursePageModel

@{
	ViewBag.Title = string.Format("{0}: {1}", Model.CourseTitle, Model.Slide.Title);
	ViewBag.Slide = Model.Slide;
	ViewBag.CourseId = Model.CourseId;

	ViewBag.Meta = Model.Slide.Meta;

	var mainDivClass = "";
}


@if (Model.ManualChecking == null)
{
	mainDivClass = "slide-container";
	@Html.Action("TableOfContents", "SlideNavigation", new { courseId = Model.CourseId, slideId = Model.Slide.Id })
}

<div class="@mainDivClass">
	<div class="container body-content">
		<div class="row">
			<div class='slide'>
				<h1>
					@if (Model.ManualChecking != null)
					{
						@Html.RouteLink(Model.Slide.Title, "Course.SlideById", new { courseId = Model.CourseId, slideId = Model.Slide.Url }, new { title = "Перейти к слайду" })
					}
					else
					{
						@Model.Slide.Title
					}
					<span class="score">@GetScore(Model.Score)</span>
				</h1>
				@if (!string.IsNullOrEmpty(Model.Error))
				{
					<p class="alert alert-danger">@Model.Error</p>
				}
				@if (Model.Slide is QuizSlide)
				{
					@Html.Action("Quiz", "Quiz", new
					{
						slide = (QuizSlide)Model.Slide,
						courseId = Model.CourseId,
						userId = Model.UserId,
						isGuest = Model.IsGuest,
						manualQuizCheckQueueItem = (ManualQuizChecking)Model.ManualChecking
					})
				}
				else
				{
					if (Model.ManualChecking != null)
					{
						<p class="exercise-status">
							@Model.ManualChecking.User.VisibleName@*												 
							*@@if (!string.IsNullOrEmpty(Model.ContextManualCheckingUserGroups))
							  {
								  <span>(@Model.ContextManualCheckingUserGroups),</span>
							  }
							  else
							  {
								  <span>,</span>
							  }
							@Model.ManualChecking.Timestamp.ToPrettyString()
						</p>
					}
					@SlideHtml.Blocks(Model.BlockRenderContext, Html)
				}

			</div>
			@if (Model.ManualChecking == null)
			{
				if (Model.IsGuest)
				{
					@Html.Partial("_LoginForContinue")
				}

				@Html.Action("PrevNextButtons", "SlideNavigation", new { courseId = Model.CourseId, slideId = Model.Slide.Id, onSolutionsSlide = false })

				@Html.Action("SlideComments", "Comments", new { courseId = Model.CourseId, slideId = Model.Slide.Id })
			}
			else
			{
				@* On code review show instructors-only comments *@
				@Html.Action("SlideComments", "Comments", new { courseId = Model.CourseId, slideId = Model.Slide.Id, showOnlyInstructorsOnlyComments = true})
			}
			
			@Html.Partial("~/Views/Shared/_Footer.cshtml")
		</div>
	</div>
</div>
@section scripts{
	@if (!Model.IsGuest)
	{
		<script>
			$("#selectGroupModal").modal();
			displayVisits();
			uploadVisits("@Url.Action("Upload", "Visits")");
		</script>
	}
	else
	{
		<script>
			saveVisits("@Model.CourseId @Model.Slide.Id", "@DateTime.Now.ToString("u")");
			displayVisits();
		</script>
	}
	@if (Model.Slide is ExerciseSlide)
	{
		var slide = (ExerciseSlide)Model.Slide;
		<script>
			getHints("@Model.CourseId", "@Model.Slide.Id", '@slide.Exercise.HintsMd.Count')
		</script>
		<script>
			$(document).ready(function() {
				refreshPreviousDraft('@Model.Slide.Id');
			});
		</script>
	}


	<script src="~/Scripts/jquery.color-2.1.0.min.js"></script>
}

@helper GetScore(Tuple<int, int> score)
{ @( score.Item2 == 0 ? "" : string.Format("{0}/{1}", score.Item1, score.Item2)) }