@using uLearn
@model CoursePageModel

@{
	ViewBag.Title = Model.CourseTitle;
}

@Html.Action("TableOfContents", "SlideNavigation", new { courseId = Model.CourseId, slideIndex = Model.Slide.Index })

<div class="slide-container">
	<div class="container body-content">
		<div class="row">
			<div class='slide'>
				<h1>@Model.Slide.Title</h1>
				@Html.Partial("_Quiz", Model)
				@Html.DisplayFor(m => m.Slide.Blocks)
				@if (Model.Slide is ExerciseSlide)
				{
					@Html.Partial("_SolutionControl", Model)
				}
				@Html.Partial("_AskBar")
			</div>
			@Html.Partial("_RatesBar")
			@Html.Action("PrevNextButtons", "SlideNavigation", new { courseId = Model.CourseId, slideIndex = Model.Slide.Index, onSolutionsSlide = false })
			@if (User.IsInRole(LmsRoles.Instructor))
			{
				<div id="GetAllQuestions" data-url="@Url.Action("GetAllQuestions")">
					<button class="all-questions" onclick="printAllQuestions('@Model.Slide.Info.UnitName')">Посмотреть все заданные вопросы по теме</button>
				</div>
				<div class="questions-log"></div>
			}
		</div>
	</div>
	<div>
		@if (User.IsInRole(LmsRoles.Admin))
		{
			<div class="modal-footer">
				<a href="#" class="prepare-solution-button" data-url="@Url.Action("PrepareSolution", "Exercise", new {courseId = Model.CourseId, slideIndex = Model.Slide.Index})">Log prepared solution</a>				<a href="#" onclick="toggleFakeRun()">Переключить в тестовый режим запуска</a>
				<script>
					function toggleFakeRun() {
						var $btn = $(".run-solution-button");
						$btn
							.css("background-color", "blue")
							.data("url", $btn.data("url").replace("/RunSolution", "/FakeRunSolution"));
					}
				</script>
			</div>
		}
	</div>
</div>
@if (Model.IsFirstCourseVisit)
{
	<a id="first_visit" data-toggle="modal" data-target="#myModal2" href="#myModal2" class="hidden">
		Выберите свою группу
	</a>
	<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
		<div id="AddQuestion2" class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="myModalLabel2">Выберите свою группу</h4>
				</div>
				<div class="modal-body">
					<textarea id="group-field" class="ask-bar" data-url="@Url.Action("AddGroup")"> </textarea>
					<button class="btn btn-primary" id="sendButton2" type="button" data-dismiss="modal" onclick="choiceGroup()">Отправить</button>
					<button class="btn btn-primary" id="sendButton2" type="button" data-dismiss="modal">Я - вольный слушатель!</button>
				</div>
			</div>
		</div>
	</div>
}
@section scripts{
	@Scripts.Render("~/slide-js")
	<script src="~/Scripts/slide-stats.js"></script>
	<script>
		fillRate('@Model.Rate');
	</script>
	@if (Model.Slide is ExerciseSlide)
	{
		var e = (ExerciseSlide) Model.Slide;
		<script> getHints("@Model.CourseId", "@Model.Slide.Index", '@e.HintsHtml.Length') </script>
		<script> refreshPreviousDraft('@(Model.LatestAcceptedSolution != null)', '@e.Id') </script>
	}

	@{
		var a = Model.PassedQuiz.Contains(Model.Slide.Id);
		var b = Model.Slide is QuizSlide;
		var answers = a && b ? (Model.Slide as QuizSlide).RightAnswersToQuiz : "none";
		<script>markAns('@answers')</script>
	}
	@if (Model.IsFirstCourseVisit)
	{
	<script src="~/Scripts/choice-group.js"></script>
		<script>
			$("#first_visit").click();
		</script>
	}
}

