@using uLearn
@model CoursePageModel

@{
	ViewBag.Title = Model.Course.Title;
}
@Html.Partial("_TableOfContents", Model)


<div class="slide-container">
	<div class="container body-content">
		<div class="row">
			<div class='slide'>
				<h1>@Model.Slide.Title</h1>
				@{var QuizSlide = Model.Slide as QuizSlide;}
				@if (QuizSlide != null)
				{
					foreach (var quizBlock in QuizSlide.Quiz.QuizBlocks)
					{
						<h3>@quizBlock.Text</h3>
						if (quizBlock.IsTask)
						{
							var task = quizBlock.QuizTask;
							<h2>@task.Condition</h2>
							foreach (var var in task.Var)
							{
								<h1>@var.V</h1>
							}
						}
					}
				}
				@foreach (SlideBlock block in Model.Slide.Blocks)
				{
					if (block.IsCode)
					{
						<textarea class='code code-sample'>@block.Text</textarea>
					}
					else
					{
						@Html.Raw(block.RenderedText)
					}
				}
				@{ var slide = Model.Slide as ExerciseSlide; }
				@if (slide != null)
				{
					@Html.Partial("_SolutionControl",Model);
				}
				else
				{
					@Html.Partial("_AskBar")
				}
			</div>
			@Html.Partial("_RatesBar")
			@Html.Partial("_SlideNavigation", Model)
			<div id="WatchQuestions" data-url="@Url.Action("GetAllQuestions")">
			    <button class="all-questions" onclick="printAllQuestions('@Model.Slide.Info.UnitName')">Посмотреть все заданные вопросы по теме</button>
			</div>
			<div class="questions-log"></div>
		</div>
	</div>

	<div>
		@if (Request.IsLocal)
		{
			<div class="modal-footer">
				<a href="#" class="prepare-solution-button" data-url="@Url.Action("PrepareSolution", new {courseId = Model.Course.Id, slideIndex = Model.SlideIndex})">Log prepared solution</a>
				<a href="#" onclick="toggleFakeRun()">Переключить в тестовый режим запуска</a>
				<script>
					function toggleFakeRun() {
						var $btn = $(".run-solution-button");
						$btn
				            .css("background-color", "blue")
				            .data("url", $btn.data("url").replace("/RunSolution", "/FakeRunSolution"));
					}
				</script>
			</div>
		}
	</div>
</div>

@section scripts{
	@Scripts.Render("~/slide-js")
	<script src="~/Scripts/slide-stats.js"></script>
	<script>
		FillRate('@Model.Rate');
	</script>
}
