@using uLearn
@model CoursePageModel

@{
	ViewBag.Title = Model.CourseTitle;
}

@Html.Action("TableOfContents", "SlideNavigation", new { courseId = Model.CourseId, slideIndex = Model.Slide.Index })

<div class="slide-container">
	<div class="container body-content">
		<div class="row">
			<div class='slide'>
				<h1>@Model.Slide.Title</h1>
				@Html.Partial("_Quiz", Model)
				@Html.DisplayFor(m => m.Slide.Blocks)
				@if (Model.Slide is ExerciseSlide)
				{
					@Html.Partial("_SolutionControl", Model)
				}
				@Html.Partial("_AskBar")
			</div>
			@Html.Partial("_RatesBar")
			@Html.Action("PrevNextButtons", "SlideNavigation", new { courseId = Model.CourseId, slideIndex = Model.Slide.Index, onSolutionsSlide = false })
		</div>
	</div>
</div>
@if (Model.IsFirstCourseVisit)
{	
	@Html.Action("SelectGroup")
}
@section scripts{
	@Scripts.Render("~/slide-js")
	<script>
		fillRate('@Model.Rate');
		$("#selectGroupModal").modal();
	</script>
	@if (Model.Slide is ExerciseSlide)
	{
		var e = (ExerciseSlide) Model.Slide;
		<script> getHints("@Model.CourseId", "@Model.Slide.Index", '@e.HintsHtml.Length') </script>
		<script> refreshPreviousDraft('@(Model.LatestAcceptedSolution != null)', '@e.Id') </script>
	}

	@{
		var a = Model.PassedQuiz.Contains(Model.Slide.Id);
		var b = Model.Slide is QuizSlide;
		var answers = a && b ? (Model.Slide as QuizSlide).RightAnswersToQuiz : "none";
		<script>markAns('@answers')</script>
	}
}

