@model uLearn.Web.Controllers.ExerciseSubmissionsPanelModel

@functions
{
	private static string GetSubmissionDescription(UserExerciseSubmission submission)
	{
		if (submission.ManualCheckings != null && submission.ManualCheckings.Count > 0)
			if (submission.ManualCheckings.Any(s => s.IsChecked))
				return ", проверено преподавателем";
			else
				return ", ожидает код-ревью";
		return "";
	}
}

<div class="exercise__submissions-panel"
     data-update-url="@Url.Action("SubmissionsPanel", "Exercise", new { Model.CourseId, slideId = Model.Slide.Id, currentSubmissionId = Model.CurrentSubmissionId, canTryAgain = Model.CanTryAgain })">
	@if (Model.Submissions.Count > 0)
	{
		var buttonClasses = "btn btn-xs btn-info exercise-version-link";
		var disabledButtonClasses = "btn btn-xs btn-default";

		var currentSubmissionIndex = Model.Submissions.FindIndex(s => s.Id == Model.CurrentSubmissionId);
		if (currentSubmissionIndex > 0)
		{
			var previousSubmission = Model.Submissions[currentSubmissionIndex - 1];
			@Html.RouteLink("← Предыдущая версия", "Course.SlideById", new { Model.CourseId, slideId = Model.Slide.Url, version = previousSubmission.Id }, new { @class = buttonClasses, data_version_id = previousSubmission.Id })
		}
		else
		{
			@Html.RouteLink("← Предыдущая версия", "Course.SlideById", new { Model.CourseId, slideId = Model.Slide.Url, version = Model.Submissions[Model.Submissions.Count - 1].Id }, new { @class = buttonClasses, data_version_id = Model.Submissions[Model.Submissions.Count - 1].Id })
		}

		var listItems = Model.Submissions.Select(s => new SelectListItem
		{
			Text = s.Timestamp.ToPrettyString() + GetSubmissionDescription(s),
			Value = s.Id.ToString(),
			Selected = s.Id == Model.CurrentSubmissionId,
		}).ToList();

		if (Model.CanTryAgain)
		{
			listItems.Add(new SelectListItem { Text = "Новая попытка", Value = "-1", Selected = !Model.CurrentSubmissionId.HasValue });
		}

		using (Html.BeginRouteForm("Course.SlideById", new { Model.CourseId, slideId = Model.Slide.Url }, FormMethod.Get, new { @class = "ib" }))
		{
			@Html.DropDownList("version", listItems, new { @class = "inline-select select-auto-width" })
		}

		if (currentSubmissionIndex >= 0 && currentSubmissionIndex < Model.Submissions.Count - 1)
		{
			var nextSubmission = Model.Submissions[currentSubmissionIndex + 1];
			@Html.RouteLink("Следующая версия →", "Course.SlideById", new { Model.CourseId, slideId = Model.Slide.Url, version = nextSubmission.Id }, new { @class = buttonClasses, data_version_id = nextSubmission.Id })
		}
		else if (currentSubmissionIndex >= 0 && Model.CanTryAgain)
		{
			@Html.RouteLink("Сдать ещё раз »", "Course.SlideById", new { Model.CourseId, slideId = Model.Slide.Url, version = -1 }, new { @class = buttonClasses, data_version_id = -1 })
		}
		else
		{
			@Html.RouteLink("Следующая версия →", "Course.SlideById", new { Model.CourseId, slideId = Model.Slide.Url }, new { @class = disabledButtonClasses, disabled = "disabled" })
		}

	}
</div>