@using uLearn.Web.Extensions
@model Database.Models.UserExerciseSubmission
@{
	Layout = null;
	var texts = new[]
	{
		new { text = Model.SolutionCode.Text, type = "code", name = "Код" },
		new { text = Model.AutomaticChecking != null ? (Model.AutomaticChecking.CompilationError.Text ?? "") : "", type = "compilationInfo", name = "Сообщения компилятора" },
		new { text = Model.AutomaticChecking != null ? (Model.AutomaticChecking.Output.Text ?? "") : "", type = "output", name = "Вывод" },
	}
		.Where(arg => !string.IsNullOrWhiteSpace(arg.text));
}

<div style="margin-bottom: 20px">
	Id: @Html.Encode(Model.Id) <br/>
	Язык: @Model.Language.ToString("g") <br/>
	Время отправки: @Model.Timestamp.ToPrettyString() <br/>
	Статус: @(Model.AutomaticChecking != null ? Model.AutomaticChecking.Status.ToString() : "Не проверяется автоматичеки")<br/>
	@if (Model.AutomaticChecking != null)
	{
		<text>
			Проверяющий сервер: @(Model.AutomaticChecking.CheckingAgentName ?? "Неизвестно")<br/>
			Результат: <b>@Model.AutomaticChecking.GetVerdict()</b> <br/>
		</text>
	}
</div>

@foreach (var text in texts)
{
	<div class="panel panel-default">
		<div class="panel-heading" role="tab">
			<h4 class="panel-title cursor-pointer" data-toggle="collapse" data-target="#@text.type">
				@text.name
			</h4>
		</div>
		<div id="@text.type" class="panel-collapse collapse" role="tabpanel">
			<div class="panel-body">
				<pre>@text.text</pre>
			</div>
		</div>
	</div>
}