@using Database.Models
@using uLearn.Web.Extensions
@using Ulearn.Common
@using Ulearn.Core.RunCheckerJobApi

@model SubmissionsListModel

@{
	ViewBag.Title = "Submissions";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table table-hover table-striped">
	<thead>
	<tr>
		<th></th>
		<th>Timestamp</th>
		<th>Language</th>
		<th>Elapsed</th>
		<th>Description</th>
		<th>Status</th>
		<th>Verdict</th>
	</tr>
	</thead>
	@foreach (var submission in Model.Submissions)
	{
		var automaticChecking = submission.AutomaticChecking;
		var defaultDescription = "Submission #" + submission.Id;
		var description = automaticChecking != null ? (automaticChecking.DisplayName ?? defaultDescription) : defaultDescription;
		<tr class="@SubmissionClass(automaticChecking != null ? automaticChecking.GetVerdict() : "") submitions-item" data-id="@submission.Id">
			<td>@submission.Id</td>
			<td title="@submission.Timestamp">@submission.Timestamp.ToPrettyString(true)</td>
			<td>@submission.Language.GetName()</td>
			@if (automaticChecking != null)
			{
				<td>@automaticChecking.Elapsed</td>
				<td>@description</td>
				<td>@automaticChecking.Status</td>
				<td>@automaticChecking.GetVerdict()</td>
			}
			else
			{
				<td>—</td>
				<td>@description</td>
				<td>Done</td>
				<td>
					<i>Не&nbsp;проверяется автоматически</i>
				</td>
			}
		</tr>
	}
</table>

<div class="modal fade" id="details-window">
	<div class="modal-dialog" style="width: 75%">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title">Информация по посылке</h4>
			</div>
			<div class="modal-body" id="details-field">
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

@helper SubmissionClass(string verdict)
{
	if (verdict == "SandboxError")
	{
		@( "danger")
	}
	if (verdict == "Accepted")
	{
		@( "success")
	}
	else if (verdict == "CompilationError")
	{
		@( "info")
	}
	else
	{
		@( "warning")
	}
}

@helper SubmissionClass(AutomaticExerciseCheckingStatus status, Verdict verdict)
{
	if (status != AutomaticExerciseCheckingStatus.Done || verdict == Verdict.SandboxError)
	{
		@( "danger")
	}
	else if (verdict == Verdict.Ok)
	{
		@( "success")
	}
	else if (verdict == Verdict.CompilationError)
	{
		@( "info")
	}
	else
	{
		@( "warning")
	}
}

@section scripts {
	<script>
		$(".submitions-item").click(function(item) {
			openDetails(item.currentTarget.dataset.id);
		});

		function openDetails(id) {
			$.ajax({
				type: 'GET',
				url: '@Url.Action("GetDetails")',
				data:
				{
					id: id
				}
			}).always(function(ans) {
				$('#details-field').html(ans);
				$('#details-window').modal('show');
			});
		}
	</script>
}