@using System.Web.Mvc.Html
@using Microsoft.AspNet.Identity
@using uLearn
@using uLearn.Web.Controllers

@model SlideCommentsModel

@functions
{

	private CommentViewModel BuildCommentViewModel(Comment comment)
	{
		var replies = Model.CommentsByParent.Get(comment.Id, new List<Comment>()).OrderByDescending(x => x.IsApproved).ThenBy(x => x.PublishTime);
		var isAuthor = comment.AuthorId == User.Identity.GetUserId();
		return new CommentViewModel
		{
			Comment = comment,
			LikesCount = Model.CommentsLikesCounts.Get(comment.Id, 0),
			IsLikedByUser = Model.CommentsLikedByUser.Contains(comment.Id),
			Replies = replies.Select(BuildCommentViewModel),
			CanReply = Model.CanReply,
			CanModerateComment = Model.CanModerateComments,
			IsCommentVisibleForUser = comment.IsApproved || Model.CanSeeNotApprovedComments || isAuthor,
			CanDeleteComment = Model.CanModerateComments || isAuthor,
		};
	}
}

@helper TopLevelReplyForm()
{
	<div class="reply-form media">
		@using (Html.BeginForm("AddComment", "Comments", FormMethod.Post))
		{
			@Html.AntiForgeryToken()
			@Html.Hidden("courseId", Model.CourseId)
			@Html.Hidden("slideId", Model.SlideId)
			<div class="pull-left">
				<img src="//placehold.it/24x24" />
			</div>
			<div class="media-body">
				@Html.TextArea("commentText", "", new { placeholder = "Комментировать.." })
				<button class="reply-form__send-button btn btn-primary" disabled="disabled">Отправить</button>
			</div>
		}
	</div>
}

@if (Model.TopLevelComments.Any() || Model.IsAuthorizedAndCanComment)
{
	<div class="comments">
		<h3>Комментарии</h3>
		@foreach (var topLevelComment in @Model.TopLevelComments)
		{
			@Html.Partial("_Comment", BuildCommentViewModel(topLevelComment))
		}

		@if (Model.IsAuthorizedAndCanComment)
		{
			@TopLevelReplyForm()
		}
		else if (!User.Identity.IsAuthenticated)
		{
			<div class="">
				Чтобы оставить комментарий, @Html.ActionLink("войдите", "Login", "Account")
			</div>
		}
		else
		{
			<div class="">
				Только преподаватели могут оставлять комментарии
			</div>
		}
	</div>
}
else
{
	<div class="">
		Комментарии отключены
	</div>
}

@section scripts {
	<script src="~/Scripts/slide-comments.js"> </script>
}
