@using System.Web.Mvc.Html
@using Database.Models
@using Microsoft.AspNet.Identity
@using uLearn
@using uLearn.Web.Controllers
@using uLearn.Web.Views.Shared
@using Ulearn.Common.Extensions

@model SlideCommentsModel

@functions
{

	private CommentViewModel BuildCommentViewModel(Comment comment, Slide slide)
	{
		var replies = Model.CommentsByParent.GetOrDefault(comment.Id, new List<Comment>()).OrderByDescending(x => x.IsApproved).ThenBy(x => x.PublishTime);
		var isAuthor = comment.AuthorId == User.Identity.GetUserId();
		return new CommentViewModel
		{
			Comment = comment,
			LikesCount = Model.CommentsLikesCounts.GetOrDefault(comment.Id),
			IsLikedByUser = Model.CommentsLikedByUser.Contains(comment.Id),
			Replies = replies.Select(r => BuildCommentViewModel(r, slide)),
			CanReply = Model.CanReply,
			CanModerateComment = Model.CanModerateComments,
			IsCommentVisibleForUser = comment.IsApproved || Model.CanSeeNotApprovedComments || isAuthor,
			CanEditAndDeleteComment = Model.CanModerateComments || isAuthor,
			CanViewAuthorSubmissions = slide is ExerciseSlide && Model.CanViewAuthorSubmissions,
			CurrentUser = Model.CurrentUser,
			CanViewAuthorProfile = Model.CanViewAuthorProfiles,
			IsCommentForInstructorsOnly = comment.IsForInstructorsOnly
		};
	}

}

@helper TopLevelReplyForm(bool forInstructorsOnly)
{
	<div class="reply-form media">
		@using (Html.BeginForm("AddComment", "Comments", FormMethod.Post))
		{
			@Html.Hidden("courseId", Model.CourseId)
			@Html.Hidden("slideId", Model.Slide.Id)
			@Html.Hidden("forInstructorsOnly", forInstructorsOnly)
			<div class="pull-left">
				@UserAvatar.SmallAvatar(Model.CurrentUser)
			</div>
			<div class="media-body">
				@Html.TextArea("commentText", "", new { placeholder = forInstructorsOnly ? "Оставить комментарий для преподавателей" : "Комментировать..." })
				<button class="reply-form__send-button btn btn-primary" disabled="disabled">Отправить</button>
			</div>
		}
	</div>
}

@* Used for ajax in addAntiForgeryToken() *@
<form id="__AjaxAntiForgeryForm" action="#" method="post">@Html.AntiForgeryToken()</form>

@{
	var forInstructorsOnlyTopLevelComments = Model.TopLevelComments.Where(c => c.IsForInstructorsOnly).ToList();
	var forAllTopLevelComments = Model.TopLevelComments.Where(c => !c.IsForInstructorsOnly).ToList();
}

<h3>Комментарии</h3>

@if (Model.CanViewAndAddCommentsForInstructorsOnly)
{
	<div class="comments comments-for-instructors-only">
        <div class="comments-for-instructors-only__description">
            Студенты не&nbsp;видят эти комментарии
            <span class="with-long-tooltip cursor-pointer" data-toggle="tooltip" data-placement="top" title="Это блок комментариев, доступных только преподавателям">
                <span class="fa fa-question-circle"></span>
            </span>
        </div>
        @foreach (var topLevelComment in forInstructorsOnlyTopLevelComments)
        {
	        @Html.Partial("_Comment", BuildCommentViewModel(topLevelComment, Model.Slide))
        }
        @TopLevelReplyForm(forInstructorsOnly: true)
    </div>
}
 
@if (!Model.ShowOnlyInstructorsOnlyComments)
{
	 if (forAllTopLevelComments.Any() || Model.IsAuthorizedAndCanComment)
	 {
		 <div class="comments">
             @foreach (var topLevelComment in forAllTopLevelComments)
             {
	             @Html.Partial("_Comment", BuildCommentViewModel(topLevelComment, Model.Slide))
             }

             @if (Model.IsAuthorizedAndCanComment)
             {
	             @TopLevelReplyForm(forInstructorsOnly: false)
             }
             else if (Model.CommentsPolicy.IsCommentsEnabled)
             {
	             <div class="comments_policy__message gray">
                     @Html.ActionLink("Войдите", "Login", "Account", new { returnUrl = Request.RawUrl }, new { }), чтобы оставить комментарий
                 </div>
             }
             else
             {
	             <div class="comments_policy__message gray">
                     Только преподаватели могут оставлять комментарии
                 </div>
             }
         </div>
	 }
	 else
	 {
		 if (Model.CommentsPolicy.IsCommentsEnabled)
		 {
			 <div class="comments">
                 <div class="comments_policy__message">
                     Комментариев пока нет. @Html.ActionLink("Войдите", "Login", "Account", new { returnUrl = Request.RawUrl }, new { }), чтобы написать свой.
                 </div>
             </div>
		 }
	 }
}

<div class="comments__rules alert alert-warning">
	<div>
		Работает форматирование: <b>**жирный текст**</b>, <i>__курсивный текст__</i>, <span class="inline-pre">`код`</span>, <span class="inline-pre">```многострочный код```</span>.
	</div>
	@if (Model.Slide is ExerciseSlide)
	{
		<div class="comments__rules__good-tone">
			Простые правила хороших комментариев:
			<ul>
				<li>Используйте подсказки перед тем, как задать вопрос в комментариях.</li>
				<li>Воздержитесь от вопросов «Почему у меня не работает?». Отлаживайте, экспериментируйте, думайте!</li>
				<li>Пожалуйста, не публикуйте свои решения.</li>
				<li>
					Мы будем благодарны вам за доброжелательный тон в комментариях.
				</li>
			</ul>
		</div>
	}
</div>
