@using System.Web.Mvc.Html
@using uLearn
@using uLearn.Web.Controllers

@model SlideCommentsModel

@helper Comment(Comment comment)
{
	@Html.Partial("_Comment", new CommentViewModel
	{
		Comment = comment,
		LikesCount = Model.CommentsLikesCounts.Get(comment.Id, 0),
		IsLikedByUser = Model.CommentsLikedByUser.Contains(comment.Id)
	})
}

@helper ReplyForm(Comment comment)
{
	<div class="reply-form @(comment != null ? "is-reply" : "") media">
		@using (Html.BeginForm("AddComment", "Course", FormMethod.Post))
		{
			@Html.AntiForgeryToken()
			@Html.Hidden("courseId", Model.CourseId)
			@Html.Hidden("slideId", Model.SlideId)
			if (comment != null)
			{
				@Html.Hidden("parentCommentId", comment.Id)
			}
			<div class="pull-left">
				<img src="//placehold.it/24x24"/>
			</div>
			<div class="media-body">
				@Html.TextBox("commentText", "", new {placeholder = "Оставьте свой комментарий" })
			</div>
		}
	</div>
}

<div class="comments">
	<h3>Комментарии</h3>
	@foreach (var topLevelComment in @Model.TopLevelComments)
	{
		@Comment(topLevelComment)

		var replies = Model.CommentsByParent.Get(topLevelComment.Id, new List<Comment>());
		foreach (var replyComment in replies)
		{
			@Comment(replyComment)
		}

		@ReplyForm(topLevelComment)
	}
	@ReplyForm(null)
</div>

@section scripts {
	<script src="~/Scripts/slide-comments.js"> </script>
}
