<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title | uLearn</title>
	@Styles.Render("~/css")
	@Scripts.Render("~/modernizr-js")
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<button type="button" class="navbar-toggle hide-side-bar-button" data-toggle="collapse" data-target=".side-bar">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".greeting-collapse-class">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				@Html.ActionLink("uLearn", "Index", "Home", null, new { @class = "navbar-brand" })
			</div>
			<div class="greeting-collapse-class navbar-collapse collapse">
				<ul class="nav navbar-nav">
					@if (User.IsInRole(LmsRoles.Admin))
					{
						<li>@Html.ActionLink("Пользователи", "List", "Account")</li>
					}

					@if (User.IsInRole(LmsRoles.Instructor))
					{
						<li>@Html.ActionLink("Администрирование курсов", "CourseList", "Unit")</li>
					}

				</ul>
				@Html.Partial("_LoginPartial")
			</div>
		</div>
	</div>
	@RenderBody()

	@Scripts.Render("~/jquery-js")
	@Scripts.Render("~/bootstrap-js")
	@Scripts.Render("~/codemirror-js")
	@RenderSection("scripts", required: false)

	<script type="text/javascript" src="/Orphus/orphus.js"></script>
	<a href="http://orphus.ru" id="orphus" target="_blank"><img alt="Система Orphus" src="/orphus/orphus.gif" border="0" width="0" height="0" /></a>
	
	<!-- Yandex.Metrika counter -->
	<script type="text/javascript">(function (d, w, c) { (w[c] = w[c] || []).push(function () { try { w.yaCounter25997251 = new Ya.Metrika({ id: 25997251, webvisor: true, clickmap: true, trackLinks: true, accurateTrackBounce: true }); } catch (e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="//mc.yandex.ru/watch/25997251" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
	<!-- /Yandex.Metrika counter -->
</body>
</html>
