<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title | uLearn</title>
	<meta name="title" content="uLearn" />
	<meta name="description" content="Интерактивные учебные онлайн курсы по программированию" />
	<link rel="image_src" href="~/Content/logo.png">
	<link rel="shortcut icon" href="~/favicon.ico?v=4" />
	@Styles.Render("~/css")
	@Scripts.Render("~/modernizr-js")
</head>
<body>
	<div id="header" class="navbar navbar-inverse navbar-fixed-top">
		<button type="button" class="navbar-toggle hide-side-bar-button" data-toggle="collapse" data-target=".side-bar">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".greeting-collapse-class">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				@Html.ActionLink("uLearn", "Index", "Home", null, new { @class = "navbar-brand" })
			</div>
			<div class="greeting-collapse-class navbar-collapse collapse">
				<ul class="top-navigation nav navbar-nav">
					@if (User.IsSystemAdministrator())
					{
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Администрирование <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li>@Html.ActionLink("Список курсов", "CourseList", "Admin")</li>
								<li>@Html.ActionLink("Пользователи", "List", "Account", new { role = LmsRoles.SysAdmin }, null)</li>
								<li>@Html.ActionLink("Статистика", "SystemStatistics", "Analytics")</li>
								<li>@Html.ActionLink("Песочница C#", "Index", "Sandbox")</li>
							</ul>
						</li>
					}
					@if (User.HasAccess(CourseRole.Instructor))
					{
						string courseId = null;
						try
						{
							courseId = Html.ViewContext.RouteData.Values["courseId"].ToString();
						}
						catch (Exception)
						{
							/* RouteData has no attribute 'courseId' */
							if (Html.ViewContext.RouteData.Values["controller"].ToString() == "Admin" &&
								Request.Params["courseId"] != null)
							{
								courseId = Request.Params["courseId"];
							}
						}
						@Html.Action("CourseInstructorNavbar", "Course", new { courseId } );
					}
				</ul>
				@Html.Partial("_LoginPartial")
			</div>
		</div>
	</div>
	@RenderBody()

	@Scripts.Render("~/main-js")
	@RenderSection("scripts", required: false)

	<script>
		$(function () {
			$(".load-content")
				.each(
					function () {
						$(this).load($(this).data("url"));
					});
		});
	</script>
	
	<!-- Yandex.Metrika counter -->
	<script src="https://mc.yandex.ru/metrika/watch.js" type="text/javascript"></script>
	<script type="text/javascript"> try { var yaCounter25997251 = new Ya.Metrika({ id:25997251, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); } catch(e) { } </script> <noscript><div><img src="https://mc.yandex.ru/watch/25997251" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
	<!-- /Yandex.Metrika counter -->
</body>
</html>
