@using uLearn.Web.Controllers
<!DOCTYPE html>
<html>
<head>
    @Scripts.Render("~/modernizr.bundle.js")
    @Html.Partial("_Retargeting")
</head>
<body>

@{
	var metaImageUrl = "/Content/logo.png";
	var metaTitle = ViewBag.Title + " на ulearn.me";
	var metaDescription = "Интерактивные учебные онлайн-курсы по программированию";
	var metaKeywords = "";

	if (ViewBag.Meta != null)
	{
		if (!string.IsNullOrEmpty(ViewBag.Meta.AbsoluteImageUrl)) { metaImageUrl = ViewBag.Meta.AbsoluteImageUrl; }
		if (!string.IsNullOrEmpty(ViewBag.Meta.Description)) { metaDescription = ViewBag.Meta.Description; }
		if (!string.IsNullOrEmpty(ViewBag.Meta.Keywords)) { metaKeywords = ViewBag.Meta.Keywords; }
	}
}
    
<script>
	window.meta = {
		title: "@(metaTitle)",
		description: "@(metaDescription)",
		keywords: "@(metaKeywords)",
		imageUrl: "@(metaImageUrl)"
	}
</script>

@RenderBody()

@Html.Action("CheckIsEmailConfirmed", "Account")

@RenderSection("scripts", required: false)

<script>
	/* Temporary bug workaround: unregister all service workers */
	function unregisterServiceWorker() {
		if (window.navigator && navigator.serviceWorker) {
			navigator.serviceWorker.getRegistrations()
				.then(function (registrations) {
					for (var registrationId in registrations) {
						if (registrations.hasOwnProperty(registrationId)) {
							var registration = registrations[registrationId];
							registration.unregister();
							window.location.reload();
						}
					}
				});
		}
	}

	unregisterServiceWorker();
</script>

@if (AccountController.IsHijacked(HttpContext.Current.Request))
{
	@Html.Partial("_ReturnHijack")
}

</body>
</html>