@using Elmah.ContentSyndication
@using uLearn
@model CoursePageModel
 
<ul class="side-bar units-list">
	@{
		int index = 0;
		int groupNumber = 0;
		string previousName = "";
		foreach (var unit in Model.Course.Slides.GroupBy(z => z.Info.UnitName))
		{
			var collapseOption = unit.First().Info.UnitName == Model.Slide.Info.UnitName ? "collapse in" : "collapse";
			var currentUnit = unit.First().Info.UnitName;
			if (previousName != currentUnit)
			{
				previousName = currentUnit;
				groupNumber++;
			}
			<li class="units-list-item">
				<a data-toggle="collapse" href=@("#N" + groupNumber) class="units-list-item-text">
					@currentUnit
				</a>
				<ul id=@("N" + groupNumber) class="slides-list @collapseOption">
					@for (; index < Model.Course.Slides.Length; index++)
					{
						var slide = Model.Course.Slides[index];
						if (slide.Info.UnitName != currentUnit)
						{
							break;
						}
						var selectedSlide = index == Model.SlideIndex;
						var url = Url.Action("Slide", "Course", new { courseId = Model.Course.Id, slideIndex = index });
						var itemClass = "";
						if (Model.VisitedSlide.Contains(slide.Id))
						{
							if (slide is ExerciseSlide)
							{
								itemClass = Model.SolvedSlide.Contains(slide.Id) ? "glyphicon glyphicon-check navbar-label-success" : "glyphicon glyphicon-edit navbar-label-danger";
							}
							else if (slide is QuizSlide)
							{
								itemClass = Model.PassedQuiz.Contains(slide.Id) ? "glyphicon glyphicon-pushpin navbar-label-success" : "glyphicon glyphicon-pushpin navbar-label-danger";
							}
							else
							{
								itemClass = "glyphicon glyphicon-ok navbar-label-success";
							}
						}
						else
						{
							if (slide is ExerciseSlide)
							{
								itemClass = "glyphicon glyphicon-edit navbar-label-default";
							}
							if (slide is QuizSlide)
							{
								itemClass = "glyphicon glyphicon-pushpin navbar-label-default";
							}
						}
						<i class="@itemClass navbar-label"></i>
						<li class="slide-list-item @(selectedSlide ? "selected" : "") " onclick="window.location.href = '@url'">@slide.Title</li>
					}
				</ul>
			</li>
		}
		if (Request.IsLocal)
		{
			<li class="units-list-item units-list-item-text">@Html.ActionLink("Total statistics", "TotalStatistics", "Analytics", new {courseId = Model.Course.Id, slideIndex = 0}, null)</li>
			<li class="units-list-item units-list-item-text">@Html.ActionLink("Users statistics", "UsersStatistics", "Analytics", new {courseId = Model.Course.Id, slideIndex = 0}, null)</li>
			<li class="units-list-item units-list-item-text">@Html.ActionLink("Personal statistics", "PersonalStatistics", "Analytics", new {courseId = Model.Course.Id, slideIndex = 0}, null)</li>
		}
	}
</ul>
