@model PrevNextButtonsModel

<div class="btn-group-justified ctrl-group full-width" id="nav_arrows"
	data-hasnext="@(Model.HasNextSlide ? "true" : "")"
	data-hasprev="@(Model.HasPrevSlide ? "true" : "")"
	data-isaccepted="@(Model.NextIsAcceptedSolutions ? "true" : "")">
	<a class="btn btn-default no-rounds ctrl-group"
		id="prev_slide_button"
		href="@Url.Action("Slide", "Course", new {courseId = Model.CourseId, slideIndex = Model.PrevSlideIndex})">Назад</a>
	<a class="btn btn-default @(Model.IsGuest ? "" : "block-next") no-rounds ctrl-group next_button"
		id="next_solutions_button"
		href="@Url.Action("AcceptedSolutions", "Course", new {courseId = Model.CourseId, slideIndex = Model.SlideIndex})">Далее</a>
	<a class="btn btn-default @(Model.IsGuest ? "" : "block-next") no-rounds ctrl-group next_button"
		id="next_slide_button"
		href="@Url.Action("Slide", "Course", new {courseId = Model.CourseId, slideIndex = Model.NextSlideIndex})">Далее</a>
</div>