@model ManageUserViewModel

<hr/>

<section class="login-and-registration-form">
	@using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { role = "form" }))
	{
		@Html.AntiForgeryToken()
		<h2>Изменить пароль</h2>
		@Html.ValidationSummary(true)
		<div class="form-group">
			@Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", @placeholder = "Старый пароль" })
		</div>
		<div class="form-group">
			@Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", @placeholder = "Новый пароль" })
			@Html.ValidationMessageFor(m => m.NewPassword)
		</div>
		<div class="form-group">
			@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Ещё раз" })
			@Html.ValidationMessageFor(m => m.ConfirmPassword)
		</div>

		<div class="form-group">
			<input type="submit" value="Сменить пароль" class="ph-btn ph-btn-green btn-block" />
		</div>
	}
</section>
