@model uLearn.Web.Models.ManageUserViewModel

<p class="text-info">
	У вас еще нет логина и пароля для этого сайта.
	Создайте логин и пароль и вы сможете заходить на этот сайт без использования внешнего логина.
</p>

@using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
	@Html.AntiForgeryToken()

	<h4>Создать локальный логин</h4>
	<hr />
	@Html.ValidationSummary("Нет, так не пойдет!")
	<div class="form-group">
		@Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
		<div class="col-md-10">
			@Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
		</div>
	</div>
	<div class="form-group">
		@Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
		<div class="col-md-10">
			@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
		</div>
	</div>
	<div class="form-group">
		<div class="col-md-offset-2 col-md-10">
			<input type="submit" value="Установить пароль" class="btn btn-default" />
		</div>
	</div>
}
