@model UserViewModel

<section class="login-and-registration-form">
	@using (Html.BeginForm("ChangeDetailsPartial", "Account", FormMethod.Post, new { role = "form" }))
	{
		@Html.AntiForgeryToken()

		@Html.ValidationSummary(true)
		@Html.HiddenFor(m => m.UserId)
		<div class="form-group">
			@Html.TextBoxFor(m => m.Name, new { @class = "form-control", @placeholder = "Логин" })
			@Html.ValidationMessageFor(m => m.Name)
		</div>
		<div class="form-group">
			@Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", @placeholder = "Имя" })
			@Html.ValidationMessageFor(m => m.FirstName)

		</div>
		<div class="form-group">
			@Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @placeholder = "Фамилия" })
			@Html.ValidationMessageFor(m => m.LastName)

		</div>
		<div class="form-group">
			@Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Почта" })
			@Html.ValidationMessageFor(m => m.Email)

		</div>
		<div class="form-group">
			@Html.TextBoxFor(m => m.GroupName, new { @class = "form-control", list = "groupsList", @placeholder = "Учебная группа" })
			@Html.Partial("_GroupsPrompt")
		</div>
		if (!Model.HasPassword)
		{
			<p class="text-info">
				Задайте пароль, чтобы авторизовываться по логину
			</p>

			<div class="form-group">
				@Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Пароль" })
				@Html.ValidationMessageFor(m => m.Password)
			</div>
			<div class="form-group">
				@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Ещё раз" })
				@Html.ValidationMessageFor(m => m.ConfirmPassword)
			</div>
		}
		<div class="form-group">
			<input type="submit" value="Сохранить изменения" class="ph-btn ph-btn-blue btn-block" />
		</div>
	}
</section>

