@model UserViewModel


@if (!Model.HasPassword)
{
	<p class="text-info">
		Задайте пароль, чтобы заходить на uLearn без внешнего логина
	</p>
}

@using (Html.BeginForm("ChangeDetailsPartial", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
	@Html.AntiForgeryToken()

	@Html.ValidationSummary("Нет, так не пойдет!")
	@Html.HiddenFor(m => m.UserId)
	<div class="form-group">
		@Html.LabelFor(m => m.Name, new { @class = "col-md-3 control-label" })
		<div class="col-md-9">
			@Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
		</div>
	</div>
	<div class="form-group">
		@Html.LabelFor(m => m.FirstName, new { @class = "col-md-3 control-label" })
		<div class="col-md-9">
			@Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
		</div>
	</div>
	<div class="form-group">
		@Html.LabelFor(m => m.LastName, new { @class = "col-md-3 control-label" })
		<div class="col-md-9">
			@Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
		</div>
	</div>
	<div class="form-group">
		@Html.LabelFor(m => m.Email, new { @class = "col-md-3 control-label" })
		<div class="col-md-9">
			@Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
		</div>
	</div>
	<div class="form-group">
		@Html.LabelFor(m => m.GroupName, new { @class = "col-md-3 control-label" })
		<div class="col-md-9">
			@Html.TextBoxFor(m => m.GroupName, new { @class = "form-control", list = "groupsList" })
			@Html.Partial("_GroupsPrompt")
		</div>
	</div>
	if (!Model.HasPassword)
	{
		<div class="form-group">
			@Html.LabelFor(m => m.Password, new { @class = "col-md-3 control-label" })
			<div class="col-md-9">
				@Html.PasswordFor(m => m.Password, new { @class = "form-control" })
			</div>
		</div>
		<div class="form-group">
			@Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-3 control-label" })
			<div class="col-md-9">
				@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
			</div>
		</div>
	}
	<div class="form-group">
		<div class="col-md-offset-3 col-md-9">
			<input type="submit" value="Сохранить изменения" class="btn btn-primary" />
		</div>
	</div>
}
