@model UserViewModel


@using (Html.BeginForm("ChangeDetailsPartial", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
	@Html.AntiForgeryToken()

	@Html.ValidationSummary("Нет, так не пойдет!")
	@Html.HiddenFor(m => m.UserId)
	<div class="form-group">
		@Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
		<div class="col-md-10">
			@Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
		</div>
	</div>
	<div class="form-group">
		@Html.LabelFor(m => m.GroupName, new { @class = "col-md-2 control-label" })
		<div class="col-md-10">
			@Html.TextBoxFor(m => m.GroupName, new { @class = "form-control" })
		</div>
	</div>
	<div class="form-group">
		<div class="col-md-offset-2 col-md-10">
			<input type="submit" value="Сохранить изменения" class="btn btn-default" />
		</div>
	</div>
}
