@using Database.Models
@using Ulearn.Common.Extensions
@using FormMethod = System.Web.Mvc.FormMethod
@model Database.UserSearchQueryModel


@{
	ViewBag.Title = "Пользователи";
}

<div class="container">
	<h1>Пользователи</h1>

	<p>
		<a class="label label-danger" href="@Url.Action("List", new { role = LmsRoles.SysAdmin })">@LmsRoles.SysAdmin.GetDisplayName()</a> может всё.
	</p>
	<p>
		<a class="label label-warning" href="@Url.Action("List", new { courseRole = CourseRole.CourseAdmin })">@CourseRole.CourseAdmin.GetDisplayName()</a> может видеть служебную информацию и управлять ролями других пользователей в рамках курса.
	</p>
	<p>
		<a class="label label-info" href="@Url.Action("List", new { courseRole = CourseRole.Instructor })">@CourseRole.Instructor.GetDisplayName()</a> может видеть статистику по успеваемости, проверять работы, отвечать на комментарии.
	</p>
	<p>
		<a class="label label-success" href="@Url.Action("List", new { courseRole = CourseRole.Tester })">@CourseRole.Tester.GetDisplayName()</a> может видеть ещё не опубликованные материалы.
	</p>
	<p>
		<a class="label label-default" href="@Url.Action("List")">Обычный пользователь</a> может видеть только опубликованные материалы.
	</p>

	<p>
		@using (Html.BeginForm("List", "Account", FormMethod.Get, new { @class = "form-inline" }))
		{
			<div class="input-group">
				<input class="form-control" type="text" name="namePrefix" value="@Model.NamePrefix"/>
				<span class="input-group-btn">
					<button class="btn btn-primary button" type="submit">Фильтровать по имени</button>
				</span>
			</div>
		}
	</p>
	@Html.Action("ListPartial", Model)

</div>