@{
	ViewBag.Title = "Управление аккаунтом";
}
<div class="container">
	<h2>@User.Identity.Name</h2>

	<p class="text-success">@ViewBag.StatusMessage</p>
	<div class="row">
		<div class="col-md-12">
			@Html.Action("ChangeDetailsPartial")

			@if (ViewBag.HasLocalPassword)
			{
				@Html.Partial("_ChangePasswordPartial")
			}
			else
			{
				@Html.Partial("_SetPasswordPartial")
			}

			<section id="externalLogins">
				@Html.Action("RemoveAccountList")
				@Html.Partial("_ExternalLoginsListPartial", new { Action = "LinkLogin", ReturnUrl = ViewBag.ReturnUrl })
			</section>
		</div>
	</div>
	@section Scripts {
		@Scripts.Render("~/jqueryval-js")
	}
</div>