@{
	ViewBag.Title = "Профиль";
}

<div class="container">
	<div class="row">
		<div class="col-md-offset-3 col-md-6">
			<div class="row">
				<div class="col-sm-10 col-sm-offset-2">
					<h2>Профиль @User.Identity.Name</h2>
					
					<hr class="without-top-margin"/>

					@if (!string.IsNullOrEmpty(ViewBag.StatusMessage))
					{
						<div class="alert alert-success">@ViewBag.StatusMessage</div>
					}
				</div>
			</div>

			@Html.Action("ChangeDetailsPartial")
			@if (ViewBag.HasLocalPassword)
			{
				@Html.Partial("_ChangePasswordPartial")
			}
			
			<div class="row">
				<section id="externalLogins" class="col-sm-10 col-sm-offset-2">
					@Html.Action("RemoveAccountList")
					<div class="row">
						<div class="col-md-6">
							@Html.Partial("../Login/_ExternalLoginsListPartial", new ExternalLoginsListModel { Action = "LinkLogin", ReturnUrl = ViewBag.ReturnUrl })
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
</div>

