@{
	ViewBag.Title = "Управление аккаунтом";
}
<div class="container">
	
	<div class="row">
		<div class="col-md-offset-3 col-md-6">
			<h2>Профиль @User.Identity.Name</h2>

			<hr />

			<p class="text-success">@ViewBag.StatusMessage</p>

			@Html.Action("ChangeDetailsPartial")
			@if (ViewBag.HasLocalPassword)
			{
				@Html.Partial("_ChangePasswordPartial")
			}

			<section id="externalLogins">
				@Html.Action("RemoveAccountList")
				<div class="row">
					<div class="col-md-6">
						@Html.Partial("../Login/_ExternalLoginsListPartial", new ExternalLoginsListModel { Action = "LinkLogin", ReturnUrl = ViewBag.ReturnUrl })
					</div>
				</div>
			</section>
		</div>
	</div>
</div>