@model UserMenuPartialViewModel

@using Microsoft.AspNet.Identity

@if (Model.IsAuthenticated)
{
	using (Html.BeginForm("LogOff", "Login", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
	{
		@Html.AntiForgeryToken()
		var profileMenuTitle = Model.UserVisibleName;
		if (string.IsNullOrEmpty(profileMenuTitle))
		{
			profileMenuTitle = "Меню";
		}

		<ul class="nav navbar-nav navbar-right">
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@profileMenuTitle <span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li>@Html.ActionLink("Профиль", "Manage", "Account", null, new { title = "Редактировать профиль" })</li>
					<li>@Html.ActionLink("Сертификаты", "Index", "Certificates", new { userId = User.Identity.GetUserId() }, new { })</li>
					<li><a href="#" onclick="document.getElementById('logoutForm').submit(); return false;">Выход</a></li>
				</ul>
			</li>

		</ul>
	}
}
else
{
	<ul class="nav navbar-nav navbar-right">
		<li>@Html.ActionLink("Регистрация", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
		<li>@Html.ActionLink("Вход", "Index", "Login", routeValues: new { returnUrl = Request.RawUrl }, htmlAttributes: new { id = "loginLink" })</li>
	</ul>
}
