@using Database.Extensions
@using Database.Models
@using FormMethod = System.Web.Mvc.FormMethod
@model UserMenuPartialViewModel

@if (Model.IsAuthenticated)
{
	using (Html.BeginForm("LogOff", "Login", FormMethod.Post, new { id = "logoutForm", @class = "hidden" }))
	{
		@Html.AntiForgeryToken()
	}

	var profileMenuTitle = Model.User.VisibleName;
	if (string.IsNullOrEmpty(profileMenuTitle))
	{
		profileMenuTitle = "Меню";
	}

	var hasProfileWarning = string.IsNullOrEmpty(Model.User.Email) || !Model.User.EmailConfirmed;
	/* Instructors should have filled first and last name */
	if (User.HasAccess(CourseRole.Instructor) && (string.IsNullOrEmpty(Model.User.FirstName) || string.IsNullOrEmpty(Model.User.LastName)))
	{
		hasProfileWarning = true;
	}

	<li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
			@if (hasProfileWarning)
			{
				<span class="fa fa-exclamation-triangle user-menu__error__icon"></span>
			}
			@profileMenuTitle <span class="caret"></span>
		</a>
		<ul class="dropdown-menu">
			<li>
				<a href="@Url.Action("Manage", "Account")" title="Редактировать профиль">
					Профиль
				</a>
			</li>
			@if (string.IsNullOrEmpty(Model.User.Email))
			{
				<li class="user-menu__error">
					Не&nbsp;указана <nobr>эл.&nbsp;почта&nbsp;<span class="fa fa-question-circle with-long-tooltip" data-toggle="tooltip" data-placement="bottom" title="Укажите в профиле электронную почту, чтобы получать уведомления и восстановить доступ в случае утери пароля"></span></nobr>
				</li>
			}
			else if (!string.IsNullOrEmpty(Model.User.Email) && !Model.User.EmailConfirmed)
			{
				<li class="user-menu__error">
					Эл.&nbsp;почта <nobr>не&nbsp;подтверждена&nbsp;<span class="fa fa-question-circle with-long-tooltip" data-toggle="tooltip" data-placement="bottom" title="Подтвердите в профиле электронную почту, чтобы получать уведомления и восстановить доступ в случае утери пароля"></span></nobr>
				</li>
			}
			else if (User.HasAccess(CourseRole.Instructor) && (string.IsNullOrEmpty(Model.User.FirstName) || string.IsNullOrEmpty(Model.User.LastName)))
			{
				<li class="user-menu__error">
					Не&nbsp;указаны имя или фамилия&nbsp;<span class="fa fa-question-circle with-long-tooltip" data-toggle="tooltip" data-placement="bottom" title="Укажите в профиле имя и фамилию, чтобы студентам было проще с вами работать"></span>
				</li>
			}
			<li>@Html.ActionLink("Сертификаты", "Index", "Certificates", new { userId = Model.User.Id }, new { })</li>
			<li>
				<a href="#" onclick="document.getElementById('logoutForm').submit();return false;">Выход</a>
			</li>
		</ul>
	</li>
}
else
{
	<li>@Html.ActionLink("Регистрация", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
	<li>@Html.ActionLink("Вход", "Index", "Login", routeValues: new { returnUrl = Request.RawUrl }, htmlAttributes: new { id = "loginLink" })</li>
}