@using Database.Extensions
@using Database.Models
@using uLearn.Web.Extensions
@using uLearn.Web.Views.Shared
@using Ulearn.Common

@model Database.Models.GroupMember

<li class="group__member">
	<div>
		<div class="pull-right">
			<a href="@Url.Action("RemoveUserFromGroup", "Admin", new { groupId = Model.GroupId, userId = Model.UserId })" class="group__member__remove-link" title="Удалить @(Model.User.VisibleName) из группы">&times;</a>
		</div>

		@UserAvatar.ExtraSmallAvatar(Model.User)
        <span title="@Model.User.UserName">
            @if (User.HasSystemAccess(SystemAccessType.ViewAllProfiles) || User.IsSystemAdministrator())
            {
	            @Html.ActionLink(Model.User.VisibleName, "Profile", "Account", new { userId = Model.UserId }, new {})<text>,</text>
            }
            else
            {
	            @Model.User.VisibleName
            }
        </span>
		@if (!string.IsNullOrEmpty(Model.User.Email))
		{
			<a href="mailto:@Model.User.Email">@Model.User.Email</a><text>,</text>
		}
		@if (Model.AddingTime.HasValue)
		{
			<span class="group__member__since" title="@Model.AddingTime.Value.ToPrettyString()">вступил@(Model.User.Gender.ChooseEnding()) @Model.AddingTime.Value.ToAgoPrettyString()</span>
		}
	</div>
</li>
