@using System.Web.Mvc.Html
@using uLearn.Web.Extensions
@using Ulearn.Core.Courses.Slides.Quizzes
@using FormMethod = System.Web.Mvc.FormMethod

@model uLearn.Web.Controllers.ManualCheckingQueueViewModel

@using (Html.BeginForm(Url.RequestContext.RouteData.GetRequiredString("Action"), "Admin", FormMethod.Get, new { @class = "form-inline", id = "manual-checking-queue-filter-form" }))
{
	@Html.Hidden("courseId", Model.CourseId)
	@Html.Hidden("done", Model.AlreadyChecked.ToString().ToLower())

	@Html.Partial("~/Views/Shared/_GroupsFilter.cshtml", new GroupsFilterViewModel
	{
		CourseId = Model.CourseId,
		SelectedGroupsIds = Model.SelectedGroupsIds,
		Groups = Model.Groups,
		UsersIdsWithGroupsAccess = Model.GroupsAccesses.ToDictionary(kvp => kvp.Key, kvp => kvp.Value.Select(s => s.UserId).ToList()),
	})

	<div class="form-group">
		@{
			var slideListItems = new List<SelectListItemWithAttributes>
			{
				new SelectListItemWithAttributes { Text = "Все задания", Value = "" },
			};
			if (Model.Slides.Any(s => s.Key != Guid.Empty))
			{
				slideListItems.Add(new SelectListItemWithAttributes { Value = "-", HtmlAttributes = new { data_divider = "true", data_exclusive = "true" } });
			}

			slideListItems.AddRange(
				Model.Slides.Select(
					kvp => new SelectListItemWithAttributes
					{
						Text = kvp.Value.Title,
						Value = kvp.Key.ToString(),
						HtmlAttributes = kvp.Key == Guid.Empty
							? new { data_divider = "true", data_exclusive = "true" }
							: (object)new { data_subtext = kvp.Value is QuizSlide ? "тест" : "код-ревью" }
					}
					)
				);
		}

		@Html.DropDownListWithItemAttributes(
			"slideId",
			slideListItems,
			new
			{
				@class = "form-control selectpicker without-backdrop",
				size = "1",
				data_live_search = "true",
			})
	</div>

	<div class="form-group manual-checking-queue-filter-form__done-filter visible-xs">
		<div class="checkbox checkbox-default">
			@Html.CheckBox("done__mobile", Model.AlreadyChecked, new { data_connect_checkbox = "done" });
			<label for="done__mobile">
				Уже проверенные работы
			</label>
		</div>
	</div>

	<div class="form-group manual-checking-queue-filter-form__button">
		<button role="button" class="btn btn-primary">Отфильтровать</button>
	</div>

	<div class="form-group manual-checking-queue-filter-form__done-filter hidden-xs">
		<div class="checkbox checkbox-default">
			@Html.CheckBox("done__desktop", Model.AlreadyChecked, new { data_connect_checkbox = "done" });
			<label for="done__desktop">
				Уже проверенные работы
			</label>
		</div>
	</div>
}