@model uLearn.Web.Controllers.AdminCommentsViewModel

@{
	ViewBag.Title = "Комментарии";
}

<div class="container">

	<h1>Комментарии</h1>

	@using (Html.BeginForm("SaveCommentsPolicy", "Admin", FormMethod.Post, new { @class = "form-horizontal" }))
	{
		@Html.AntiForgeryToken()
		<input type="hidden" name="courseId" value="@Model.CourseId" />

		<div class="checkbox checkbox-default">
			@Html.CheckBox("isCommentsEnabled", Model.IsCommentsEnabled)
			<label for="isCommentsEnabled">
				Комментарии включены
			</label>
		</div>

		<div class="checkbox checkbox-default">
			@Html.CheckBox("onlyInstructorsCanReply", Model.OnlyInstructorsCanReply)
			<label for="onlyInstructorsCanReply">
				Отвечать могут только преподаватели
			</label>
		</div>

		<h4>Режим модерации</h4>
		<div class="radio radio-default">
			@Html.RadioButton("moderationPolicy", "Premoderation", Model.ModerationPolicy == CommentModerationPolicy.Premoderation, new { @id= "moderationPolicyPremoderation" })
			<label for="moderationPolicyPremoderation">
				премодерация
			</label>
		</div>

		<div class="radio radio-defaul">
			@Html.RadioButton("moderationPolicy", "Postmoderation", Model.ModerationPolicy == CommentModerationPolicy.Postmoderation, new { @id = "moderationPolicyPostmoderation" })
			<label for="moderationPolicyPostmoderation">
				постмодерация
			</label>
		</div>

		<div>
			<button class="btn btn-success" type="submit">Сохранить</button>
		</div>
	}

	<div class="comments comments__feed">
		<h1>Последние комментарии</h1>
		@foreach (var comment in Model.Comments)
		{
			@Html.Partial("~/Views/Comments/_Comment.cshtml", comment)
		}
		@if (Model.Comments.Count == 0)
		{
			<p class="text-muted">Комментариев нет...</p>
		}
	</div>
</div>
