@using Database.Extensions

@model uLearn.Web.Controllers.CourseListViewModel

@{
	ViewBag.Title = "Курсы";
}
<div class="container">
	<h1>Курсы</h1>
	<ul>
		@foreach (var course in Model.Courses)
		{
			if (User.IsSystemAdministrator())
			{
				<li>@Html.ActionLink(course.Title, "Users", new { courseId = course.Id, onlyPrivileged = true })</li>
			}
			else
			{
				<li>@Html.ActionLink(course.Title, "UnitStatistics", "Analytics", new { courseId = course.Id }, new {})</li>
			}
		}
	</ul>
	
	@if (User.IsSystemAdministrator())
	{
		<h1>Создать курс</h1>
		using (Html.BeginForm("CreateCourse", "Admin", FormMethod.Post, new { @class = "form-inline" }))
		{
			@Html.AntiForgeryToken()
			<input type="text" class="form-control" name="courseId" value="@Model.CourseCreationLastTry" placeholder="CourseId"/>
			<input type="submit" class="btn btn-danger" value="Создать" />
			<p class="text-muted">CourseId используется как часть URL, имя файла, часть путей. Лучше использовать только латинские буквы и цифры.</p>
		}
		if (!string.IsNullOrEmpty(Model.CourseCreationLastTry))
		{
			<div style="margin: 10px">В идентификаторе курса недопустимы символы: <pre style="display: inline-block">@Model.InvalidCharacters</pre></div>
		}
	}
</div>