@using Microsoft.AspNet.Identity
@model uLearn.Web.Controllers.GroupsViewModel

@{
	ViewBag.Title = "Группы";
}

@Html.Action("ManageMenu")

<div class="slide-container">

	<h1>Группы <small><a href="" onClick="$('#createGroupModal').modal(); return false;">создать</a></small></h1>
	
	<div class="groups">
		@if (Model.Groups.Count == 0)
		{
			<div>
				Для этого курса нет групп..
			</div>
		}
		@foreach (var group in Model.Groups.OrderBy(g => g.OwnerId != User.Identity.GetUserId()))
		{
			<div class="group" data-group-id="@group.Id">
				<h3 class="group__title">
					@group.Name
					@if (!group.IsPublic)
					{
						<small><span class="label label-danger">приватная</span></small>
					}
					@if (group.OwnerId != User.Identity.GetUserId())
					{
						<small><span class="label label-primary">владелец: @group.Owner.VisibleName</span></small>
					}
				</h3>
				<div class="text-muted" title="Отправьте эту ссылку студентам для присоединения к группе">
					@Url.Action("JoinGroup", "Account", new { hash = group.InviteHash }, protocol: Request.Url.Scheme)
				</div>
				<ol class="members">
					@foreach (var member in group.Members.OrderBy(m => m.User.VisibleName))
					{
						<li class="member">
							@member.User.VisibleName (@member.User.UserName)
							<span class="glyphicon glyphicon-remove  remove-user-from-group-link  text-danger visible-on-parent-hover  cursor-pointer" data-group-id="@group.Id" data-user-id="@member.User.Id" title="Удалить из группы"></span>
						</li>
					}
				</ol>

				@if (group.OwnerId == User.Identity.GetUserId() || User.HasAccessFor(Model.CourseId, CourseRole.CourseAdmin))
				{
					if (group.Members.Count == 0)
					{
						<div>В группе нет пользователей. Добавьте:</div>
					}
					else
					{
						<div>Добавить пользователя:</div>
					}
					<input type="text" class="add-user-to-group-input form-control" data-group-id="@group.Id" placeholder="Начните вводить имя или фамилию">
				}
			</div>

			<hr/>
		}
	</div>
</div>

<div class="modal fade" id="createGroupModal" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Создать группу</h4>
			</div>
			<div class="modal-body">
				@using (Html.BeginForm("CreateGroup", "Admin", FormMethod.Post))
				{
					@Html.AntiForgeryToken()
					<input type="hidden" name="courseId" value="@Model.CourseId" />

					<div class="form-group">
						<input id="name" name="name" type="text" class="form-control" placeholder="Название новой группы">
						<p class="help-block">
							Студенты не увидят названия группы
						</p>
					</div>

					<div class="checkbox checkbox-default">
						@Html.CheckBox("isPublic")
						<label for="isPublic">
							Видна другим инструкторам
						</label>
					</div>

					<button class="btn btn-success">Создать</button>
				}
			</div>
		</div>
	</div>
</div>