@model uLearn.Web.Controllers.ManualCheckingQueueViewModel

@{
	ViewBag.Title = "Очередь на код ревью";
}

<div class="container">
	<h1>Очередь на код ревью</h1>

	@if (! string.IsNullOrEmpty(Model.Message) && Model.Checkings.Count > 0)
	{
		<div class="alert alert-danger">
			@if (Model.Message == "already_checked")
			{
				<p>Эта работа уже проверена, выберите другую</p>
			}
			@if (Model.Message == "locked")
			{
				<p>Эта работа проверяется другим инструктором, выберите другую</p>
			}
			@if (Model.Message == "slide_checked")
			{
				<p>Для этого слайда больше нет непроверенных работ</p>
			}
			@if (Model.Message == "time_is_over")
			{
				<p>Время проверки работы вышло. Выберите другую</p>
			}
		</div>
	}

	@if (Model.Checkings.Count == 0)
	{
		<div class="alert alert-success">Поздравляем, очередь пуста! Работ для проверки нет</div>
		<div class="text-muted">Здесь будут появляться программы студентов, которые должны быть проверены инструктором вручную.</div>
	}

	@foreach (var checkModel in Model.Checkings)
	{
		var check = checkModel.CheckingQueueItem;
		<div>
			<div>
				@check.User.VisibleName заполнил тест «@checkModel.ContextSlideTitle»
			</div>
			<div>
				@if (check.IsLocked)
				{
					<p>
						Проверяется инструктором <b>@check.LockedBy.VisibleName</b>,
						заблокирована ещё на @{
							var minutes = (int)(check.LockedUntil.Value - DateTime.Now).TotalMinutes;
							@minutes.PluralizeInRussian(new RussianPluralizationOptions
							{
								One = "минуту",
								Two = "минуты",
								Five = "минут",
								Gender = Gender.Female,
							})
						}
					</p>
					if (check.IsLockedBy(User.Identity))
					{
						@Html.ActionLink("Вернуться к проверке →", "CheckExercise", new { id = check.Id }, new { @class = "btn btn-sm btn-primary" })
					}
				}
				else
				{
					@Html.ActionLink("Перейти к проверке →", "CheckExercise", new { id = check.Id }, new { @class = "btn btn-sm btn-success" })
				}
			</div>
			<hr/>
		</div>
	}
</div>
