@using Ulearn.Common
@using Ulearn.Common.Extensions
@model uLearn.Web.Controllers.ManualCheckingQueueViewModel

@{
	ViewBag.Title = "Очередь на проверку";
}

<div class="container">
	<h1>Очередь на проверку</h1>

	@Html.Partial("_ManualCheckingQueueFilterForm", Model)

	@if (!string.IsNullOrEmpty(Model.Message) && Model.Checkings.Count > 0)
	{
		<div class="alert alert-danger">
			@if (Model.Message == "already_checked")
			{
				<p>Эта работа уже проверена, выберите другую</p>
			}
			@if (Model.Message == "locked")
			{
				<p>Эта работа проверяется другим преподаваталем, выберите другую</p>
			}
			@if (Model.Message == "slide_checked")
			{
				<p>Для этого слайда больше нет непроверенных работ</p>
			}
			@if (Model.Message == "time_is_over")
			{
				<p>Время проверки вышло. Выберите другую работу</p>
			}
            @if (Model.Message == "checking_removed")
            {
	            <p>Студент отправил новое решение этого теста. Старое больше недоступно для проверки</p>
            }
		</div>
	}

	@if (Model.Checkings.Count == 0)
	{
		<hr/>
		<div class="text-muted">Здесь будут появляться ответы студентов на тесты, которые должны быть проверены преподавателем вручную.</div>
		<div><b>Поздравляем, очередь пуста! Работ для проверки нет.</b></div>
	}

	@foreach (var checkModel in Model.Checkings)
	{
		var check = checkModel.CheckingQueueItem;
		<div>
			<div>
				<p>
					<b>@check.User.VisibleName</b> заполнил@(check.User.Gender.ChooseEnding()) тест «@checkModel.ContextSlideTitle.MakeNestedQuotes()»
				</p>
			</div>
			<div>
				@if (check.IsLocked)
				{
					<p>
						Проверяется преподавателем <b>@check.LockedBy.VisibleName</b>,
						заблокирована ещё на&Nbsp;@{
							                     var minutes = (int)(check.LockedUntil.Value - DateTime.Now).TotalMinutes;
							                     @minutes.PluralizeInRussian(RussianPluralizationOptions.MinuteDative)
						                     }
					</p>
					if (check.IsLockedBy(User.Identity))
					{
						@Html.ActionLink("Вернуться к проверке →", "CheckQuiz", new { Model.CourseId, check.Id, Group = Model.SelectedGroupsIdsJoined }, new { @class = "btn btn-sm btn-primary" })
					}
				}
				else
				{
					@Html.ActionLink("Перейти к проверке →", "CheckQuiz", new { Model.CourseId, check.Id, Group = Model.SelectedGroupsIdsJoined }, new { @class = "btn btn-sm btn-success" })
				}
			</div>
			<hr/>
		</div>
	}

	@if (Model.ExistsMore)
	{
		<div class="alert alert-info">Показаны последние 500 работ</div>
	}
</div>
