@model UserSearchQueryModel

@{
	ViewBag.Title = "Пользователи";
}

<div class="container">
	<h1>Пользователи</h1>

	<p><a class="label label-warning" href="@Url.Action("Users", new { Model.CourseId, courseRole = CourseRole.CourseAdmin })">@CourseRole.CourseAdmin</a> может видеть служебную информацию и управлять ролями других пользователей в рамках курса.
	</p>
	<p><a class="label label-info" href="@Url.Action("Users", new { Model.CourseId, courseRole = CourseRole.Instructor })">@CourseRole.Instructor</a> может видеть статистику по успеваемости, проверять работы, отвечать на комментарии.
	</p>
	<p><a class="label label-success" href="@Url.Action("Users", new { Model.CourseId, courseRole = CourseRole.Tester })">@CourseRole.Tester</a> может видеть ещё не опубликованные для всех материалы.
	</p>
	<p><a class="label label-default" href="@Url.Action("Users", new { Model.CourseId })">Обычный пользователь</a> может видеть только опубликованные материалы.
	</p>

	<p>
		@using (Html.BeginForm("Users", "Admin", FormMethod.Get, new { @class = "form-inline" }))
		{
			<input type="hidden" name="courseId" value="@Model.CourseId"/>
			<input class="form-control" type="text" name="namePrefix"/>
			<button class="btn btn-primary button" type="submit">Фильтровать по имени</button>
		}
	</p>

	@Html.Action("UsersPartial", Model)
</div>
