@model RestorePasswordModel

@{
	ViewBag.Title = "Восстановление пароля";
}


<div class="container">
	@using (Html.BeginForm("Index", "RestorePassword", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
	{
		<h2>Восстановление пароля</h2>
		foreach (var message in Model.Messages)
		{
			<p class="@(message.IsError ? "text-danger" : "text-success")">@message.Text</p>
		}
		@Html.AntiForgeryToken()
		<div class="form-group">
			@Html.Label("Имя пользователя или Email", new { @class = "col-md-2 control-label" })
			<div class="col-md-10">
				@Html.TextBox("username", Model.UserName, new { @class = "form-control" })
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Сбросить пароль" class="btn btn-default" />
			</div>
		</div>
	}
</div>