@model SetNewPasswordModel

@{
	ViewBag.Title = "Восстановление пароля";
}

<h2>Восстановление пароля</h2>
@foreach (var error in Model.Errors)
{
	<p class="text-danger">@error</p>
}

@if (Model.RequestId != null)
{
	using (Html.BeginForm("SetNewPassword", "RestorePassword", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
	{
		@Html.AntiForgeryToken()
		@Html.ValidationSummary("Что-то не так!")
		<div class="form-group">
			@Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
			<div class="col-md-10">
				@Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
			</div>
		</div>
		<div class="form-group">
			@Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
			<div class="col-md-10">
				@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
			</div>
		</div>
		@Html.HiddenFor(m => m.RequestId)
		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Задать пароль" class="btn btn-default" />
			</div>
		</div>
	}
}