@using FormMethod = System.Web.Mvc.FormMethod
@model SetNewPasswordModel

@{
	ViewBag.Title = "Восстановление пароля";
}
<div class="container">
	<div class="row">
		<div class="col-md-offset-4 col-md-4">
			<h2>@ViewBag.Title</h2>
			<section class="login-and-registration-form">
				@foreach (var error in Model.Errors)
				{
					<p class="text-danger">@error</p>
				}

				@if (Model.RequestId != null)
				{
					using (Html.BeginForm("SetNewPassword", "RestorePassword", FormMethod.Post, new { role = "form" }))
					{
						<div class="strike-line grey">
							<span>
								<i>Введите новый пароль</i>
							</span>
						</div>

						@Html.AntiForgeryToken()
						@Html.ValidationSummary(true)
						<div class="form-group">
							@Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", @placeholder = "Новый пароль", @autofocus = "autofocus" })
							@Html.ValidationMessageFor(m => m.NewPassword)
						</div>
						<div class="form-group">
							@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Ещё раз" })
							@Html.ValidationMessageFor(m => m.ConfirmPassword)
						</div>
						@Html.HiddenFor(m => m.RequestId)
						<div class="form-group">
							<input type="submit" value="Сохранить" class="ph-btn ph-btn-green btn-block"/>
						</div>
					}
				}
			</section>
		</div>
	</div>
</div>