@model HintWithLikeButton
<div>
	<button id="@(Model.HintId + "likeHint")"
	class="like-left-location btn btn-xs like-button @(Model.IsLiked ? "btn-primary" : "btn-default")"
	data-url="@Url.Action("LikeHint", "Hint")"
	onclick="likeHint('@Model.CourseId', '@Model.SlideId', '@Model.HintId')"
	title="Подсказка помогла!"><i class="glyphicon glyphicon-heart"></i></button>
	@Html.Raw(Model.Hint)
</div>
